# Agenda: Real-world

1. Recap and Q&A
2. More about CSV
3. Sorting with data
4. Grouping
5. Pivot tables
6. Joining
7. Cleaning

In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
df = DataFrame([[10, 20, 30, 40],
                [50, 60, 70, 80]],
               index=list('ab'),
               columns=list('wxyz'))

In [5]:
df

    w   x   y   z
a  10  20  30  40
b  50  60  70  80

In [6]:
# retrieve an entire row, use .loc

df.loc['b']

w    50
x    60
y    70
z    80
Name: b, dtype: int64