# Agenda: Real-world

1. Recap and Q&A
2. More about CSV
3. Sorting with data
4. Grouping
5. Pivot tables
6. Joining
7. Cleaning

In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
df = DataFrame([[10, 20, 30, 40],
                [50, 60, 70, 80]],
               index=list('ab'),
               columns=list('wxyz'))

In [5]:
df

    w   x   y   z
a  10  20  30  40
b  50  60  70  80

In [9]:
# retrieve an entire row, use .loc

df.loc['b']     # this retrieves a row

w    50
x    60
y    70
z    80
Name: b, dtype: int64

In [10]:
df['x']    # this retrieves a column

a    20
b    60
Name: x, dtype: int64

In [11]:
df['y']   # so does this

a    30
b    70
Name: y, dtype: int64

In [12]:
# row selectors and column selectors with .loc

df.loc['b', 'y']  # row b and column y

70

In [13]:
# I want all of the elements from row b, columns x and y

df.loc['b', ['x', 'y']]

x    60
y    70
Name: b, dtype: int64

In [14]:
df

    w   x   y   z
a  10  20  30  40
b  50  60  70  80

In [15]:
df['w'] > 30

a    False
b     True
Name: w, dtype: bool

In [16]:
df.loc[
    df['w'] > 30,   # row selector -- a boolean series, which will act as a mask index
    ['x', 'z']    
    ]

    x   z
b  60  80