# Agenda: Real-world

1. Recap and Q&A
2. More about CSV
3. Sorting with data
4. Grouping
5. Pivot tables
6. Joining
7. Cleaning

In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
df = DataFrame([[10, 20, 30, 40],
                [50, 60, 70, 80]],
               index=list('ab'),
               columns=list('wxyz'))

In [5]:
df

    w   x   y   z
a  10  20  30  40
b  50  60  70  80

In [9]:
# retrieve an entire row, use .loc

df.loc['b']     # this retrieves a row

w    50
x    60
y    70
z    80
Name: b, dtype: int64

In [10]:
df['x']    # this retrieves a column

a    20
b    60
Name: x, dtype: int64

In [11]:
df['y']   # so does this

a    30
b    70
Name: y, dtype: int64

In [12]:
# row selectors and column selectors with .loc

df.loc['b', 'y']  # row b and column y

70

In [13]:
# I want all of the elements from row b, columns x and y

df.loc['b', ['x', 'y']]

x    60
y    70
Name: b, dtype: int64

In [14]:
df

    w   x   y   z
a  10  20  30  40
b  50  60  70  80

In [15]:
df['w'] > 30

a    False
b     True
Name: w, dtype: bool

In [17]:
# wherever w is greater than 30,
# we want to see columns x and z

df.loc[
    df['w'] > 30,   # row selector -- a boolean series, which will act as a mask index
    ['x', 'z']       
    ]

    x   z
b  60  80

In [19]:
df = pd.read_csv('taxi.csv')
df.head()   # shows us the first five rows

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [21]:
df = pd.read_csv('taxi.csv', usecols=['passenger_count', 'trip_distance', 'total_amount'])
df.head()   # shows us the first five rows

   passenger_count  trip_distance  total_amount
0                1           1.63         17.80
1                1           0.46          8.30
2                1           0.87         11.00
3                1           2.13         17.16
4                1           1.40         10.30

In [23]:
# show me how much, on average, people paid and how far they traveled when the number of passengers was
# greater than 2

df.loc[
    df['passenger_count'] > 2,  # row selector 
    ['trip_distance', 'total_amount']  # column selector
].mean()

trip_distance     3.278653
total_amount     17.679939
dtype: float64

In [26]:
df = pd.read_csv('taxi.csv', header=None,
                usecols=[3, 4])  # the first row is *not* considered to be the headers (column names)

In [27]:
df.head()

                 3              4
0  passenger_count  trip_distance
1                1           1.63
2                1            .46
3                1            .87
4                1           2.13

In [29]:
df = pd.read_csv('taxi.csv', header=None,
                usecols=[3, 4],
                names=['count', 'distance'])  # the first row is *not* considered to be the headers (column names)

In [30]:
df

                count       distance
0     passenger_count  trip_distance
1                   1           1.63
2                   1            .46
3                   1            .87
4                   1           2.13
...               ...            ...
9995                1           2.70
9996                1           4.50
9997                1           5.59
9998                6           1.54
9999                1           5.80

[10000 rows x 2 columns]

In [31]:
# get all values in df other than those in row 0
df = df[1:]

In [32]:
df

     count distance
1        1     1.63
2        1      .46
3        1      .87
4        1     2.13
5        1     1.40
...    ...      ...
9995     1     2.70
9996     1     4.50
9997     1     5.59
9998     6     1.54
9999     1     5.80

[9999 rows x 2 columns]

In [33]:
# what happens if I now ask for the mean values of these two columns?
df.mean()

/var/folders/d9/v8tsklln4477fll05wkgcpth0000gn/T/ipykernel_7275/2498805070.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

count    inf
dtype: float64

In [34]:
df.dtypes  # what dtypes do we have in these two columns

count       object
distance    object
dtype: object

In [36]:
df['count'] = df.loc['count'].astype(np.int64)
df['distance'] = df.loc['distance'].astype(np.float64)

KeyError: 'count'

In [37]:
df.head()

   count  distance
1      1      1.63
2      1      0.46
3      1      0.87
4      1      2.13
5      1      1.40

In [38]:
df.dtypes

count         int64
distance    float64
dtype: object

In [39]:
df = pd.read_csv('AAPL.csv')

In [40]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-04-09,169.880005,173.089996,169.850006,170.050003,170.050003,29017700
1,2018-04-10,173.000000,174.000000,171.529999,173.250000,173.250000,28408600
2,2018-04-11,172.229996,173.919998,171.699997,172.440002,172.440002,22431600
3,2018-04-12,173.410004,175.000000,173.039993,174.139999,174.139999,22889300
4,2018-04-13,174.779999,175.839996,173.850006,174.729996,174.729996,25124300

In [41]:
df.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [43]:
# set the index of the data frame to be the Date column from the input CSV
df = pd.read_csv('AAPL.csv', index_col='Date')

In [44]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-04-09,169.880005,173.089996,169.850006,170.050003,170.050003,29017700
2018-04-10,173.000000,174.000000,171.529999,173.250000,173.250000,28408600
2018-04-11,172.229996,173.919998,171.699997,172.440002,172.440002,22431600
2018-04-12,173.410004,175.000000,173.039993,174.139999,174.139999,22889300
2018-04-13,174.779999,175.839996,173.850006,174.729996,174.729996,25124300
2018-04-16,175.029999,176.190002,174.830002,175.820007,175.820007,21578400
2018-04-17,176.490005,178.940002,176.410004,178.240005,178.240005,26605400
2018-04-18,177.809998,178.820007,176.880005,177.839996,177.839996,20754500
2018-04-19,173.759995,175.389999,172.660004,172.800003,172.800003,34808800
2018-04-20,170.600006,171.220001,165.429993,165.720001,165.720001,65491100
2018-04-23,166.830002,166.919998,164.089996,165.240005,165.240005,36515500
2018-04-24,165.669998,166.330002,161.220001,162.940002,162.940002,33692000
2018-04-25,162.619995,165.419998,162.410004,163.649994,163.649994,28382100
2018-04-26,164.119995,165.729996,163.369995,164.220001,164.220001,27963000
2018-04-27,164.000000,164.330002,160.630005,162.320007,162.320007,35655800
2018-04-30,162.130005,167.259995,161.839996,165.259995,165.259995,42427400
2018-05-01,166.410004,169.199997,165.270004,169.100006,169.100006,53569400
2018-05-02,175.229996,177.750000,173.800003,176.570007,176.570007,66539400
2018-05-03,175.880005,177.500000,174.440002,176.889999,176.889999,34068200
2018-05-04,178.250000,184.250000,178.169998,183.830002,183.830002,56201300
2018-05-07,185.179993,187.669998,184.750000,185.160004,185.160004,42451400
2018-05-08,184.990005,186.220001,183.669998,186.050003,186.050003,28030400

In [45]:
df.loc['2018-05-07']

Open         1.851800e+02
High         1.876700e+02
Low          1.847500e+02
Close        1.851600e+02
Adj Close    1.851600e+02
Volume       4.245140e+07
Name: 2018-05-07, dtype: float64

In [46]:
# I can give read_csv  a URL!

pd.read_csv('https://gist.githubusercontent.com/reuven/361d2c2b12dab426f4ed4efb396c89e5/raw/744dc0e9b193b53e3f76712cdfa32fa443440594/AAPL.csv')

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-04-09,169.880005,173.089996,169.850006,170.050003,170.050003,29017700
1,2018-04-10,173.000000,174.000000,171.529999,173.250000,173.250000,28408600
2,2018-04-11,172.229996,173.919998,171.699997,172.440002,172.440002,22431600
3,2018-04-12,173.410004,175.000000,173.039993,174.139999,174.139999,22889300
4,2018-04-13,174.779999,175.839996,173.850006,174.729996,174.729996,25124300
5,2018-04-16,175.029999,176.190002,174.830002,175.820007,175.820007,21578400
6,2018-04-17,176.490005,178.940002,176.410004,178.240005,178.240005,26605400
7,2018-04-18,177.809998,178.820007,176.880005,177.839996,177.839996,20754500
8,2018-04-19,173.759995,175.389999,172.660004,172.800003,172.800003,34808800
9,2018-04-20,170.600006,171.220001,165.429993,165.720001,165.720001,65491100
10,2018-04-23,166.830002,166.919998,164.089996,165.240005,165.240005,36515500
11,2018-04-24,165.669998,166.330002,161.220001,162.940002,162.940002,33692000
12,2018-04-25,162.619995,165.419998,162.410004,163.649994,163.649994,28382100
13,2018-04-26,164.119995,165.729996,163.369995,164.220001,164.220001,27963000
14,2018-04-27,164.000000,164.330002,160.630005,162.320007,162.320007,35655800
15,2018-04-30,162.130005,167.259995,161.839996,165.259995,165.259995,42427400
16,2018-05-01,166.410004,169.199997,165.270004,169.100006,169.100006,53569400
17,2018-05-02,175.229996,177.750000,173.800003,176.570007,176.570007,66539400
18,2018-05-03,175.880005,177.500000,174.440002,176.889999,176.889999,34068200
19,2018-05-04,178.250000,184.250000,178.169998,183.830002,183.830002,56201300
20,2018-05-07,185.179993,187.669998,184.750000,185.160004,185.160004,42451400
21,2018-05-08,184.990005,186.220001,183.669998,186.050003,186.050003,28030400

In [47]:
#  we can choose columns, using usecols

pd.read_csv('https://gist.githubusercontent.com/reuven/361d2c2b12dab426f4ed4efb396c89e5/raw/744dc0e9b193b53e3f76712cdfa32fa443440594/AAPL.csv',
           usecols=['Open', 'Close'])

          Open       Close
0   169.880005  170.050003
1   173.000000  173.250000
2   172.229996  172.440002
3   173.410004  174.139999
4   174.779999  174.729996
5   175.029999  175.820007
6   176.490005  178.240005
7   177.809998  177.839996
8   173.759995  172.800003
9   170.600006  165.720001
10  166.830002  165.240005
11  165.669998  162.940002
12  162.619995  163.649994
13  164.119995  164.220001
14  164.000000  162.320007
15  162.130005  165.259995
16  166.410004  169.100006
17  175.229996  176.570007
18  175.880005  176.889999
19  178.250000  183.830002
20  185.179993  185.160004
21  184.990005  186.050003

# Exercise: Cisco stock info (from 5 years ago)

- Gist: https://gist.github.com/reuven/bb116ba2034bb10bb7e4e2caa5d8a000
- URL of the gist's raw CSV, which you should use, is here: https://gist.githubusercontent.com/reuven/bb116ba2034bb10bb7e4e2caa5d8a000/raw/3660c4af808684dbf17af48b3d2f25b6a218535f/CSCO.csv

1. Use `read_csv` to retrieve the Cisco stock information from 5 years ago, and put it into a data frame.  We're only interested in the `Date`, `Open`, `Close`, and `Volume` columns.
2. Find the day on which the `Open` price was the highest.
3. Find the day on which the `Close` price was the lowest.
4. Find the `Date`, `Open`, and `Close` values on the day when the `Volume` was at its highest.

In [48]:
pd.read_csv('https://oreilly.com')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 8, saw 4

In [49]:
cisco_csv_url = 'https://gist.githubusercontent.com/reuven/bb116ba2034bb10bb7e4e2caa5d8a000/raw/3660c4af808684dbf17af48b3d2f25b6a218535f/CSCO.csv'

pd.read_csv(cisco_csv_url)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-12-22,38.520000,38.740002,38.470001,38.549999,38.264591,11441600
1,2017-12-26,38.549999,38.680000,38.360001,38.480000,38.195110,8186100
2,2017-12-27,38.540001,38.650002,38.450001,38.560001,38.274517,10543000
3,2017-12-28,38.730000,38.730000,38.450001,38.590000,38.304295,8807700
4,2017-12-29,38.410000,38.619999,38.299999,38.299999,38.016441,12583600
5,2018-01-02,38.669998,38.950001,38.430000,38.860001,38.572296,20135700
6,2018-01-03,38.720001,39.279999,38.529999,39.169998,38.879997,29536000
7,2018-01-04,39.049999,39.540001,38.930000,38.990002,38.990002,20731400
8,2018-01-05,39.549999,39.880001,39.369999,39.529999,39.529999,24588200
9,2018-01-08,39.520000,39.959999,39.349998,39.939999,39.939999,16582000
10,2018-01-09,39.790001,39.959999,39.540001,39.689999,39.689999,21449800
11,2018-01-10,39.650002,40.240002,39.630001,39.910000,39.910000,19473000
12,2018-01-11,40.139999,40.209999,39.750000,40.099998,40.099998,21685600
13,2018-01-12,40.220001,40.930000,40.049999,40.869999,40.869999,23770500
14,2018-01-16,40.900002,41.160000,40.320000,40.540001,40.540001,32845000
15,2018-01-17,40.840000,41.320000,40.709999,41.200001,41.200001,24427100
16,2018-01-18,41.240002,41.480000,41.029999,41.299999,41.299999,19610200
17,2018-01-19,41.279999,41.520000,41.099998,41.290001,41.290001,24207800
18,2018-01-22,41.200001,41.520000,41.020000,41.340000,41.340000,6792482

In [50]:
df.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [57]:
cisco_csv_url = 'https://gist.githubusercontent.com/reuven/bb116ba2034bb10bb7e4e2caa5d8a000/raw/3660c4af808684dbf17af48b3d2f25b6a218535f/CSCO.csv'

df = pd.read_csv(cisco_csv_url, 
            usecols=['Date', 'Open', 'Close', 'Volume'])
df

          Date       Open      Close    Volume
0   2017-12-22  38.520000  38.549999  11441600
1   2017-12-26  38.549999  38.480000   8186100
2   2017-12-27  38.540001  38.560001  10543000
3   2017-12-28  38.730000  38.590000   8807700
4   2017-12-29  38.410000  38.299999  12583600
5   2018-01-02  38.669998  38.860001  20135700
6   2018-01-03  38.720001  39.169998  29536000
7   2018-01-04  39.049999  38.990002  20731400
8   2018-01-05  39.549999  39.529999  24588200
9   2018-01-08  39.520000  39.939999  16582000
10  2018-01-09  39.790001  39.689999  21449800
11  2018-01-10  39.650002  39.910000  19473000
12  2018-01-11  40.139999  40.099998  21685600
13  2018-01-12  40.220001  40.869999  23770500
14  2018-01-16  40.900002  40.540001  32845000
15  2018-01-17  40.840000  41.200001  24427100
16  2018-01-18  41.240002  41.299999  19610200
17  2018-01-19  41.279999  41.290001  24207800
18  2018-01-22  41.200001  41.340000   6792482

In [58]:
# Find the day on which the open price was the highest

df.loc[
    # row selector: All days on which 'Open' was the same as df['Open'].max()
    df['Open'] == df['Open'].max(),

    # column selector is 'Date'
    'Date'
]

17    2018-01-19
Name: Date, dtype: object

In [59]:
# Find the day on which the closing price was the lowest

df.loc[
    # row selector: All days on which 'Close' was the same as df['Close'].min()
    df['Close'] == df['Close'].min(),

    # column selector is 'Date'
    'Date'
]

4    2017-12-29
Name: Date, dtype: object

In [60]:
# Find the Date, Open, and Close values on the day when the Volume was at its highest.

df.loc[
    
    df['Volume'] == df['Volume'].max(),   # row selector
    ['Date', 'Open', 'Close']

    
]

          Date       Open      Close
14  2018-01-16  40.900002  40.540001

# `read_html`

The method `pd.read_html` goes to a Web page, and finds all of the HTML tables that are on that page. Each one is downloaded as a separate data frame, into a list of data frames.  You can then retrieve the table that you want from that list, and perform analyses on it.

In [61]:
all_dfs = pd.read_html('https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)_per_capita')

In [62]:
len(all_dfs)

6

In [63]:
all_dfs[0]

,0,1,2
0,.mw-parser-output .legend{page-break-inside:av...,"$20,000 - $30,000 $10,000 - $20,000 $5,000 - $...","$1,000 - $2,500 $500 - $1,000 <$500 No data"

In [64]:
all_dfs[1]

             Country/Territory UN Region IMF[4][5]       United Nations[6]  \
             Country/Territory UN Region  Estimate  Year          Estimate
0                          NaN       NaN       NaN   NaN               NaN
1              Liechtenstein *    Europe         —     —            180227
2                     Monaco *    Europe         —     —            173696
3                 Luxembourg *    Europe    135046  2022            117182
4                    Bermuda *  Americas         —     —            123945
..                         ...       ...       ...   ...               ...
213  Central AfricanRepublic *    Africa       527  2022               481
214             Sierra Leone *    Africa       513  2022               475
215               Madagascar *    Africa       504  2022               470
216              South Sudan *    Africa       393  2022              1421
217                  Burundi *    Africa       272  2022               286

          World Bank[7]
     Year      Estimate  Year
0     NaN           NaN   NaN
1    2020        169049  2019
2    2020        173688  2020
3    2020        135683  2021
4    2020        110870  2021
..    ...           ...   ...
213  2020           477  2020
214  2020           485  2020
215  2020           496  2020
216  2020          1120  2015
217  2020           274  2020

[218 rows x 8 columns]

In [65]:
df = all_dfs[1]

In [69]:
df.dtypes

Country/Territory  Country/Territory    object
UN Region          UN Region            object
IMF[4][5]          Estimate             object
                   Year                 object
United Nations[6]  Estimate             object
                   Year                 object
World Bank[7]      Estimate             object
                   Year                 object
dtype: object

In [70]:
# let's reassign the index on df

df.columns = ['country', 'un region', 'IMF estimate', 'IMF year', 'UN estimate', 'UN year', 'WB estimate', 'WB year']

In [71]:
df

,country,un region,IMF estimate,IMF year,UN estimate,UN year,WB estimate,WB year
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Liechtenstein *,Europe,—,—,180227,2020,169049,2019
2,Monaco *,Europe,—,—,173696,2020,173688,2020
3,Luxembourg *,Europe,135046,2022,117182,2020,135683,2021
4,Bermuda *,Americas,—,—,123945,2020,110870,2021
...,...,...,...,...,...,...,...,...
213,Central AfricanRepublic *,Africa,527,2022,481,2020,477,2020
214,Sierra Leone *,Africa,513,2022,475,2020,485,2020
215,Madagascar *,Africa,504,2022,470,2020,496,2020
216,South Sudan *,Africa,393,2022,1421,2020,1120,2015
217,Burundi *,Africa,272,2022,286,2020,274,2020

In [72]:
# row selector: slice, until (not including) row 5
# column selector: 'country'
df.loc[:5, 'country']

0                NaN
1    Liechtenstein *
2           Monaco *
3       Luxembourg *
4          Bermuda *
5          Ireland *
Name: country, dtype: object

# Exercise: Gasoline prices

1. Create a data frame of gasoline prices around the world, based on the URL https://tradingeconomics.com/country-list/gasoline-prices.
2. In which countries is gasoline (USD/liter) more expensive than the US?
3. In which countries is gasoline (USD/liter) more than 1.5x as expensive as in the US?

In [73]:
# all_dfs == list of data frames we got back from pd.read_html
# read_html needs to get a URL as its argument
# the URL can be either a string literal (with quotes) or a variable containing that string literal

all_dfs = pd.read_html('https://tradingeconomics.com/country-list/gasoline-prices')

In [74]:
len(all_dfs)

1

In [75]:
# get the data frame, and assign it to df
df = all_dfs[0]

In [76]:
df.head()

        Country  Last  Previous Reference       Unit
0     Indonesia  0.51      0.52    Jun/22  USD/Liter
1  Saudi Arabia  0.62      0.62    Jul/22  USD/Liter
2        Russia  0.86      0.96    Jul/22  USD/Liter
3     Argentina  0.91      0.95    Jul/22  USD/Liter
4         China  1.03      1.06    Jul/22  USD/Liter

In [77]:
df.dtypes

Country       object
Last         float64
Previous     float64
Reference     object
Unit          object
dtype: object

In [79]:
df.loc[
    df['Country'] == 'United States',  # row selector -- looking for US row(s)
    'Last'
]

7    1.2
Name: Last, dtype: float64

In [86]:
# in which countries is gasoline more expensive than the United States?

df.loc[df['Last'] > df.loc[
            df['Country'] == 'United States', 
            'Last'
        ].mean(),
       'Country']

8              India
9             Turkey
10         Australia
11             Japan
12            Canada
13       South Korea
14      South Africa
15           Germany
16            France
17             Italy
18         Singapore
19             Spain
20    United Kingdom
21       Switzerland
22       Netherlands
Name: Country, dtype: object

In [87]:
df.loc[df['Last'] > (1.5 * df.loc[
            df['Country'] == 'United States', 
            'Last'
        ].mean()),
       'Country']

15           Germany
16            France
17             Italy
18         Singapore
19             Spain
20    United Kingdom
21       Switzerland
22       Netherlands
Name: Country, dtype: object

In [88]:
df.loc[df['Last'] > (2 * df.loc[
            df['Country'] == 'United States', 
            'Last'
        ].mean()),
       'Country']

Series([], Name: Country, dtype: object)

# Next up:

1. Sorting (by value, and by index)
2. Grouping

In [ ]:
# why might you get an error from read_html?

# because read_html depends on the lxml package, which you can download and install from PyPI:

# pip install lxml   # note: this is not a Python command, but rather something you should write at the command line


all_dfs = pd.read_html('https://tradingeconomics.com/country-list/gasoline-prices')

In [89]:
df

           Country  Last  Previous Reference       Unit
0        Indonesia  0.51      0.52    Jun/22  USD/Liter
1     Saudi Arabia  0.62      0.62    Jul/22  USD/Liter
2           Russia  0.86      0.96    Jul/22  USD/Liter
3        Argentina  0.91      0.95    Jul/22  USD/Liter
4            China  1.03      1.06    Jul/22  USD/Liter
5           Mexico  1.06      1.07    Jul/22  USD/Liter
6           Brazil  1.09      1.41    Jul/22  USD/Liter
7    United States  1.20      1.30    Jul/22  USD/Liter
8            India  1.21      1.23    Jul/22  USD/Liter
9           Turkey  1.25      1.49    Jul/22  USD/Liter
10       Australia  1.26      1.46    Jul/22  USD/Liter
11           Japan  1.28      1.29    Jul/22  USD/Liter
12          Canada  1.42      1.59    Jul/22  USD/Liter
13     South Korea  1.46      1.64    Jul/22  USD/Liter
14    South Africa  1.60      1.48    Jul/22  USD/Liter
15         Germany  1.82      1.99    Jul/22  USD/Liter
16          France  1.98      2.27    Jul/22  USD/Liter
17           Italy  2.04      2.26    Jul/22  USD/Liter
18       Singapore  2.10      2.36    Jul/22  USD/Liter
19           Spain  2.18      2.29    Jul/22  USD/Liter
20  United Kingdom  2.22      2.32    Jul/22  USD/Liter
21     Switzerland  2.24      2.14    May/22  USD/Liter
22     Netherlands  2.29      2.54    Jul/22  USD/Liter

In [92]:
# this returns a series with one element, not a single floating-point value
us_price = df.loc[df['Country'] == 'United States', 'Last']

In [94]:
us_price

7    1.2
Name: Last, dtype: float64

In [95]:
# since you know that there's only 1 value, you can use min, max, mean, etc.
us_price.min()

1.2

In [97]:
df['Last'] > us_price.min()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
Name: Last, dtype: bool

In [100]:
# I want to sort gas prices by country name

df.sort_values(by='Country')   # give me back a new data frame, same as df, but sorted (ascending) by country

           Country  Last  Previous Reference       Unit
3        Argentina  0.91      0.95    Jul/22  USD/Liter
10       Australia  1.26      1.46    Jul/22  USD/Liter
6           Brazil  1.09      1.41    Jul/22  USD/Liter
12          Canada  1.42      1.59    Jul/22  USD/Liter
4            China  1.03      1.06    Jul/22  USD/Liter
16          France  1.98      2.27    Jul/22  USD/Liter
15         Germany  1.82      1.99    Jul/22  USD/Liter
8            India  1.21      1.23    Jul/22  USD/Liter
0        Indonesia  0.51      0.52    Jun/22  USD/Liter
17           Italy  2.04      2.26    Jul/22  USD/Liter
11           Japan  1.28      1.29    Jul/22  USD/Liter
5           Mexico  1.06      1.07    Jul/22  USD/Liter
22     Netherlands  2.29      2.54    Jul/22  USD/Liter
2           Russia  0.86      0.96    Jul/22  USD/Liter
1     Saudi Arabia  0.62      0.62    Jul/22  USD/Liter
18       Singapore  2.10      2.36    Jul/22  USD/Liter
14    South Africa  1.60      1.48    Jul/22  USD/Liter
13     South Korea  1.46      1.64    Jul/22  USD/Liter
19           Spain  2.18      2.29    Jul/22  USD/Liter
21     Switzerland  2.24      2.14    May/22  USD/Liter
9           Turkey  1.25      1.49    Jul/22  USD/Liter
20  United Kingdom  2.22      2.32    Jul/22  USD/Liter
7    United States  1.20      1.30    Jul/22  USD/Liter

# Where/why sort?

1. For more aesthetic presentations
2. Grab the top/bottom n values from our data set
3. Sometimes, you can sort the data in a bunch of different ways -- sort_values lets us choose which way to sort

To sort our data by a column, just name the column in the `by` keyword argument

Like most other methods that we can run on a data frame, `sort_values` does *not* modify anything, but rather returns a new data frame.

In [101]:
# to keep the changes, assign back to df

df = df.sort_values(by='Country')

In [102]:

df.head()

      Country  Last  Previous Reference       Unit
3   Argentina  0.91      0.95    Jul/22  USD/Liter
10  Australia  1.26      1.46    Jul/22  USD/Liter
6      Brazil  1.09      1.41    Jul/22  USD/Liter
12     Canada  1.42      1.59    Jul/22  USD/Liter
4       China  1.03      1.06    Jul/22  USD/Liter

# Sorting by the index

Often, I want to sort values by the index.  This is especially true when the index contains useful information (e.g., country names, usernames, prices).

In [103]:
df = df.set_index('Country')
df

                Last  Previous Reference       Unit
Country
Argentina       0.91      0.95    Jul/22  USD/Liter
Australia       1.26      1.46    Jul/22  USD/Liter
Brazil          1.09      1.41    Jul/22  USD/Liter
Canada          1.42      1.59    Jul/22  USD/Liter
China           1.03      1.06    Jul/22  USD/Liter
France          1.98      2.27    Jul/22  USD/Liter
Germany         1.82      1.99    Jul/22  USD/Liter
India           1.21      1.23    Jul/22  USD/Liter
Indonesia       0.51      0.52    Jun/22  USD/Liter
Italy           2.04      2.26    Jul/22  USD/Liter
Japan           1.28      1.29    Jul/22  USD/Liter
Mexico          1.06      1.07    Jul/22  USD/Liter
Netherlands     2.29      2.54    Jul/22  USD/Liter
Russia          0.86      0.96    Jul/22  USD/Liter
Saudi Arabia    0.62      0.62    Jul/22  USD/Liter
Singapore       2.10      2.36    Jul/22  USD/Liter
South Africa    1.60      1.48    Jul/22  USD/Liter
South Korea     1.46      1.64    Jul/22  USD/Liter
Spain           2.18      2.29    Jul/22  USD/Liter
Switzerland     2.24      2.14    May/22  USD/Liter
Turkey          1.25      1.49    Jul/22  USD/Liter
United Kingdom  2.22      2.32    Jul/22  USD/Liter
United States   1.20      1.30    Jul/22  USD/Liter

In [106]:
# now if I sort by something else, say 'Previous', the index will be unsorted

df = df.sort_values(by='Previous')  # we get a new data frame back, based on df
df

                Last  Previous Reference       Unit
Country
Indonesia       0.51      0.52    Jun/22  USD/Liter
Saudi Arabia    0.62      0.62    Jul/22  USD/Liter
Argentina       0.91      0.95    Jul/22  USD/Liter
Russia          0.86      0.96    Jul/22  USD/Liter
China           1.03      1.06    Jul/22  USD/Liter
Mexico          1.06      1.07    Jul/22  USD/Liter
India           1.21      1.23    Jul/22  USD/Liter
Japan           1.28      1.29    Jul/22  USD/Liter
United States   1.20      1.30    Jul/22  USD/Liter
Brazil          1.09      1.41    Jul/22  USD/Liter
Australia       1.26      1.46    Jul/22  USD/Liter
South Africa    1.60      1.48    Jul/22  USD/Liter
Turkey          1.25      1.49    Jul/22  USD/Liter
Canada          1.42      1.59    Jul/22  USD/Liter
South Korea     1.46      1.64    Jul/22  USD/Liter
Germany         1.82      1.99    Jul/22  USD/Liter
Switzerland     2.24      2.14    May/22  USD/Liter
Italy           2.04      2.26    Jul/22  USD/Liter
France          1.98      2.27    Jul/22  USD/Liter
Spain           2.18      2.29    Jul/22  USD/Liter
United Kingdom  2.22      2.32    Jul/22  USD/Liter
Singapore       2.10      2.36    Jul/22  USD/Liter
Netherlands     2.29      2.54    Jul/22  USD/Liter

In [108]:
# what if the country names are now my index
# and I want to sort by country name again?

# I can use sort_index

df = df.sort_index()
df

                Last  Previous Reference       Unit
Country
Argentina       0.91      0.95    Jul/22  USD/Liter
Australia       1.26      1.46    Jul/22  USD/Liter
Brazil          1.09      1.41    Jul/22  USD/Liter
Canada          1.42      1.59    Jul/22  USD/Liter
China           1.03      1.06    Jul/22  USD/Liter
France          1.98      2.27    Jul/22  USD/Liter
Germany         1.82      1.99    Jul/22  USD/Liter
India           1.21      1.23    Jul/22  USD/Liter
Indonesia       0.51      0.52    Jun/22  USD/Liter
Italy           2.04      2.26    Jul/22  USD/Liter
Japan           1.28      1.29    Jul/22  USD/Liter
Mexico          1.06      1.07    Jul/22  USD/Liter
Netherlands     2.29      2.54    Jul/22  USD/Liter
Russia          0.86      0.96    Jul/22  USD/Liter
Saudi Arabia    0.62      0.62    Jul/22  USD/Liter
Singapore       2.10      2.36    Jul/22  USD/Liter
South Africa    1.60      1.48    Jul/22  USD/Liter
South Korea     1.46      1.64    Jul/22  USD/Liter
Spain           2.18      2.29    Jul/22  USD/Liter
Switzerland     2.24      2.14    May/22  USD/Liter
Turkey          1.25      1.49    Jul/22  USD/Liter
United Kingdom  2.22      2.32    Jul/22  USD/Liter
United States   1.20      1.30    Jul/22  USD/Liter

In [110]:
# let's sort by previous price again

df.sort_values('Last')

                Last  Previous Reference       Unit
Country
Indonesia       0.51      0.52    Jun/22  USD/Liter
Saudi Arabia    0.62      0.62    Jul/22  USD/Liter
Russia          0.86      0.96    Jul/22  USD/Liter
Argentina       0.91      0.95    Jul/22  USD/Liter
China           1.03      1.06    Jul/22  USD/Liter
Mexico          1.06      1.07    Jul/22  USD/Liter
Brazil          1.09      1.41    Jul/22  USD/Liter
United States   1.20      1.30    Jul/22  USD/Liter
India           1.21      1.23    Jul/22  USD/Liter
Turkey          1.25      1.49    Jul/22  USD/Liter
Australia       1.26      1.46    Jul/22  USD/Liter
Japan           1.28      1.29    Jul/22  USD/Liter
Canada          1.42      1.59    Jul/22  USD/Liter
South Korea     1.46      1.64    Jul/22  USD/Liter
South Africa    1.60      1.48    Jul/22  USD/Liter
Germany         1.82      1.99    Jul/22  USD/Liter
France          1.98      2.27    Jul/22  USD/Liter
Italy           2.04      2.26    Jul/22  USD/Liter
Singapore       2.10      2.36    Jul/22  USD/Liter
Spain           2.18      2.29    Jul/22  USD/Liter
United Kingdom  2.22      2.32    Jul/22  USD/Liter
Switzerland     2.24      2.14    May/22  USD/Liter
Netherlands     2.29      2.54    Jul/22  USD/Liter

In [111]:
df.sort_values('Reference')

                Last  Previous Reference       Unit
Country
Argentina       0.91      0.95    Jul/22  USD/Liter
Turkey          1.25      1.49    Jul/22  USD/Liter
Spain           2.18      2.29    Jul/22  USD/Liter
South Korea     1.46      1.64    Jul/22  USD/Liter
South Africa    1.60      1.48    Jul/22  USD/Liter
Singapore       2.10      2.36    Jul/22  USD/Liter
Saudi Arabia    0.62      0.62    Jul/22  USD/Liter
Russia          0.86      0.96    Jul/22  USD/Liter
Netherlands     2.29      2.54    Jul/22  USD/Liter
United Kingdom  2.22      2.32    Jul/22  USD/Liter
Mexico          1.06      1.07    Jul/22  USD/Liter
Italy           2.04      2.26    Jul/22  USD/Liter
India           1.21      1.23    Jul/22  USD/Liter
Germany         1.82      1.99    Jul/22  USD/Liter
France          1.98      2.27    Jul/22  USD/Liter
China           1.03      1.06    Jul/22  USD/Liter
Canada          1.42      1.59    Jul/22  USD/Liter
Brazil          1.09      1.41    Jul/22  USD/Liter
Australia       1.26      1.46    Jul/22  USD/Liter
Japan           1.28      1.29    Jul/22  USD/Liter
United States   1.20      1.30    Jul/22  USD/Liter
Indonesia       0.51      0.52    Jun/22  USD/Liter
Switzerland     2.24      2.14    May/22  USD/Liter

In [113]:
# can I sort first by date (alphabetically, in this case, which is weird!)
# and then, within the dates, sort by Previous?

# use a list, instead of a string, to name a column

# in this case, we're telling Pandas:
# first sort the rows by Reference
# if the Reference value is the same for two rows, then we sort by Previous value

df.sort_values(by=['Reference', 'Previous'])  # Reference in ascending order, then (if needed) Previous

                Last  Previous Reference       Unit
Country
Saudi Arabia    0.62      0.62    Jul/22  USD/Liter
Argentina       0.91      0.95    Jul/22  USD/Liter
Russia          0.86      0.96    Jul/22  USD/Liter
China           1.03      1.06    Jul/22  USD/Liter
Mexico          1.06      1.07    Jul/22  USD/Liter
India           1.21      1.23    Jul/22  USD/Liter
Japan           1.28      1.29    Jul/22  USD/Liter
United States   1.20      1.30    Jul/22  USD/Liter
Brazil          1.09      1.41    Jul/22  USD/Liter
Australia       1.26      1.46    Jul/22  USD/Liter
South Africa    1.60      1.48    Jul/22  USD/Liter
Turkey          1.25      1.49    Jul/22  USD/Liter
Canada          1.42      1.59    Jul/22  USD/Liter
South Korea     1.46      1.64    Jul/22  USD/Liter
Germany         1.82      1.99    Jul/22  USD/Liter
Italy           2.04      2.26    Jul/22  USD/Liter
France          1.98      2.27    Jul/22  USD/Liter
Spain           2.18      2.29    Jul/22  USD/Liter
United Kingdom  2.22      2.32    Jul/22  USD/Liter
Singapore       2.10      2.36    Jul/22  USD/Liter
Netherlands     2.29      2.54    Jul/22  USD/Liter
Indonesia       0.51      0.52    Jun/22  USD/Liter
Switzerland     2.24      2.14    May/22  USD/Liter

In [114]:
# can I sort first by date (alphabetically, in this case, which is weird!)
# and then, within the dates, sort by Previous, in descending order?

# use a list, instead of a string, to name a column

# in this case, we're telling Pandas:
# first sort the rows by Reference
# if the Reference value is the same for two rows, then we sort by Previous value DESCENDING

df.sort_values(by='Previous', ascending=False)  # this is how you sort in descending order

                Last  Previous Reference       Unit
Country
Netherlands     2.29      2.54    Jul/22  USD/Liter
Singapore       2.10      2.36    Jul/22  USD/Liter
United Kingdom  2.22      2.32    Jul/22  USD/Liter
Spain           2.18      2.29    Jul/22  USD/Liter
France          1.98      2.27    Jul/22  USD/Liter
Italy           2.04      2.26    Jul/22  USD/Liter
Switzerland     2.24      2.14    May/22  USD/Liter
Germany         1.82      1.99    Jul/22  USD/Liter
South Korea     1.46      1.64    Jul/22  USD/Liter
Canada          1.42      1.59    Jul/22  USD/Liter
Turkey          1.25      1.49    Jul/22  USD/Liter
South Africa    1.60      1.48    Jul/22  USD/Liter
Australia       1.26      1.46    Jul/22  USD/Liter
Brazil          1.09      1.41    Jul/22  USD/Liter
United States   1.20      1.30    Jul/22  USD/Liter
Japan           1.28      1.29    Jul/22  USD/Liter
India           1.21      1.23    Jul/22  USD/Liter
Mexico          1.06      1.07    Jul/22  USD/Liter
China           1.03      1.06    Jul/22  USD/Liter
Russia          0.86      0.96    Jul/22  USD/Liter
Argentina       0.91      0.95    Jul/22  USD/Liter
Saudi Arabia    0.62      0.62    Jul/22  USD/Liter
Indonesia       0.51      0.52    Jun/22  USD/Liter

In [115]:
# reference in ascending order
# previous in descending order
df.sort_values(by=['Reference','Previous'], ascending=[True, False])

                Last  Previous Reference       Unit
Country
Netherlands     2.29      2.54    Jul/22  USD/Liter
Singapore       2.10      2.36    Jul/22  USD/Liter
United Kingdom  2.22      2.32    Jul/22  USD/Liter
Spain           2.18      2.29    Jul/22  USD/Liter
France          1.98      2.27    Jul/22  USD/Liter
Italy           2.04      2.26    Jul/22  USD/Liter
Germany         1.82      1.99    Jul/22  USD/Liter
South Korea     1.46      1.64    Jul/22  USD/Liter
Canada          1.42      1.59    Jul/22  USD/Liter
Turkey          1.25      1.49    Jul/22  USD/Liter
South Africa    1.60      1.48    Jul/22  USD/Liter
Australia       1.26      1.46    Jul/22  USD/Liter
Brazil          1.09      1.41    Jul/22  USD/Liter
United States   1.20      1.30    Jul/22  USD/Liter
Japan           1.28      1.29    Jul/22  USD/Liter
India           1.21      1.23    Jul/22  USD/Liter
Mexico          1.06      1.07    Jul/22  USD/Liter
China           1.03      1.06    Jul/22  USD/Liter
Russia          0.86      0.96    Jul/22  USD/Liter
Argentina       0.91      0.95    Jul/22  USD/Liter
Saudi Arabia    0.62      0.62    Jul/22  USD/Liter
Indonesia       0.51      0.52    Jun/22  USD/Liter
Switzerland     2.24      2.14    May/22  USD/Liter

# Exercise: Sorting taxi data

1. Read the taxi data (`taxi.csv` or `nyc_taxi_2019-01.csv`) in, looking at columns `passenger_count`, `trip_distance`, and `total_amount`.
2. What were the 10 longest trips that people took?
3. What were the 10 cheapest trips that people took, where the amount was > 0?
4. Set `trip_distance` to be the index.  Now sort by the index, and find the 10 shortest trips.

In [116]:
!ls taxi.csv

taxi.csv

In [ ]:
# use a raw string when you're trying to open a path with \ in it!  That
# doubles the backslashes.

df = pd.read_csv(r'E:\Orielly\Python for DA 5 weeks 2nd aug 930 pm\taxi.csv')

In [117]:
help(df.sort_values)

Help on method sort_values in module pandas.core.frame:

sort_values(by, axis: 'Axis' = 0, ascending=True, inplace: 'bool' = False, kind: 'str' = 'quicksort', na_position: 'str' = 'last', ignore_index: 'bool' = False, key: 'ValueKeyFunc' = None) method of pandas.core.frame.DataFrame instance
    Sort by the values along either axis.

    Parameters
    ----------
            by : str or list of str
                Name or list of names to sort by.

                - if `axis` is 0 or `'index'` then `by` may contain index
                  levels and/or column labels.
                - if `axis` is 1 or `'columns'` then `by` may contain column
                  levels and/or index labels.
    axis : {0 or 'index', 1 or 'columns'}, default 0
         Axis to be sorted.
    ascending : bool or list of bool, default True
         Sort ascending vs. descending. Specify list for multiple sort
         orders.  If this is a list of bools, must match the length of
         the by.
    inplace : bool, default False
         If True, perform operation in-place.
    kind : {'quicksort', 'mergesort', 'heapsort', 'stable'}, default 'quicksort'
         Choice of sorting algorithm. See also :func:`numpy.sort` for more
         information. `mergesort` and `stable` are the only stable algorithms. For
         DataFrames, this option is only applied when sorting on a single
         column or label.
    na_position : {'first', 'last'}, default 'last'
         Puts NaNs at the beginning if `first`; `last` puts NaNs at the
         end.
    ignore_index : bool, default False
         If True, the resulting axis will be labeled 0, 1, …, n - 1.

         .. versionadded:: 1.0.0

    key : callable, optional
        Apply the key function to the values
        before sorting. This is similar to the `key` argument in the
        builtin :meth:`sorted` function, with the notable difference that
        this `key` function should be *vectorized*. It should expect a
        ``Series`` and return a Series with the same shape as the input.
        It will be applied to each column in `by` independently.

        .. versionadded:: 1.1.0

    Returns
    -------
    DataFrame or None
        DataFrame with sorted values or None if ``inplace=True``.

    See Also
    --------
    DataFrame.sort_index : Sort a DataFrame by the index.
    Series.sort_values : Similar method for a Series.

    Examples
    --------
    >>> df = pd.DataFrame({
    ...     'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
    ...     'col2': [2, 1, 9, 8, 7, 4],
    ...     'col3': [0, 1, 9, 4, 2, 3],
    ...     'col4': ['a', 'B', 'c', 'D', 'e', 'F']
    ... })
    >>> df
      col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F

    Sort by col1

    >>> df.sort_values(by=['col1'])
      col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    5    C     4     3    F
    4    D     7     2    e
    3  NaN     8     4    D

    Sort by multiple columns

    >>> df.sort_values(by=['col1', 'col2'])
      col1  col2  col3 col4
    1    A     1     1    B
    0    A     2     0    a
    2    B     9     9    c
    5    C     4     3    F
    4    D     7     2    e
    3  NaN     8     4    D

    Sort Descending

    >>> df.sort_values(by='col1', ascending=False)
      col1  col2  col3 col4
    4    D     7     2    e
    5    C     4     3    F
    2    B     9     9    c
    0    A     2     0    a
    1    A     1     1    B
    3  NaN     8     4    D

    Putting NAs first

    >>> df.sort_values(by='col1', ascending=False, na_position='first')
      col1  col2  col3 col4
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F
    2    B     9     9    c
    0    A     2     0    a
    1    A     1     1    B

    Sorting with a key function

    >>> df.sort_values(by='col4', key=lambda col: col.str.lower())
       col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F

    Natural sort with the key argument,
    using the `natsort <https://github.com/SethMMorton/natsort>` package.

    >>> df = pd.DataFrame({
    ...    "time": ['0hr', '128hr', '72hr', '48hr', '96hr'],
    ...    "value": [10, 20, 30, 40, 50]
    ... })
    >>> df
        time  value
    0    0hr     10
    1  128hr     20
    2   72hr     30
    3   48hr     40
    4   96hr     50
    >>> from natsort import index_natsorted
    >>> df.sort_values(
    ...    by="time",
    ...    key=lambda x: np.argsort(index_natsorted(df["time"]))
    ... )
        time  value
    0    0hr     10
    3   48hr     40
    2   72hr     30
    4   96hr     50
    1  128hr     20

In [118]:
# short file -- taxi.csv (in the Jupyter directory)

df = pd.read_csv('taxi.csv', usecols=['trip_distance', 'total_amount', 'passenger_count'])
df.head()

   passenger_count  trip_distance  total_amount
0                1           1.63         17.80
1                1           0.46          8.30
2                1           0.87         11.00
3                1           2.13         17.16
4                1           1.40         10.30

In [120]:
# one option: sort in ascending order, and grab the final 10 rows
df.sort_values('trip_distance').tail(10)['trip_distance']

4221    29.78
9231    31.50
4224    31.90
3323    32.10
4291    32.40
5470    34.84
809     35.51
4583    37.20
8513    60.30
4270    64.60
Name: trip_distance, dtype: float64

In [123]:
# another option: sort in DESCENDING order, and grab the first 10 rows
df.sort_values('trip_distance', ascending=False).head(10)

      passenger_count  trip_distance  total_amount
4270                1          64.60         79.96
8513                1          60.30        160.05
4583                1          37.20        210.14
809                 1          35.51        135.13
5470                1          34.84        137.59
4291                1          32.40         63.36
3323                1          32.10        162.39
4224                1          31.90        252.35
9231                1          31.50        150.05
4221                2          29.78         75.84

In [147]:
# now, let's do the long taxi file, from January 2019

df = pd.read_csv('../data/nyc_taxi_2019-01.csv', usecols=['passenger_count', 'trip_distance', 'total_amount'])

In [130]:
df.shape

(7667792, 3)

In [131]:
# option 1: sort in ascending order and grab the final 10

df.sort_values('trip_distance').tail(10)['trip_distance']

4911293    132.80
1144878    142.88
4876401    143.63
2567394    144.20
4813319    160.52
4881766    201.27
4707513    211.36
6770897    214.01
4286612    700.70
6074021    831.80
Name: trip_distance, dtype: float64

In [132]:
df.sort_values('trip_distance', ascending=False).head(10)

         passenger_count  trip_distance  total_amount
6074021                1         831.80         11.76
4286612                1         700.70          9.00
6770897                5         214.01        761.80
4707513                2         211.36         56.56
4881766                1         201.27        152.46
4813319                4         160.52        143.56
2567394                2         144.20         18.80
4876401                1         143.63        456.56
1144878                3         142.88        327.38
4911293                1         132.80        238.70

In [154]:
# What were the 10 cheapest trips that people took, where the amount was > 0?


df.loc[df['total_amount'] > 0].sort_values('total_amount').head(10)

         passenger_count  trip_distance  total_amount
1636920                1            0.0          0.11
393524                 1            1.1          0.30
3308021                1            0.0          0.30
5569448                1           46.5          0.30
3308022                1            0.0          0.30
7390163                1            0.6          0.30
4220243                1           10.9          0.30
3039165                2            1.1          0.30
4934141                1            0.0          0.30
5700266                1           13.4          0.30

In [151]:
df.loc[df['total_amount'] > 0].sort_values('total_amount')

         passenger_count  trip_distance  total_amount
0                      1           1.50          9.95
1                      1           2.60         16.30
2                      3           0.00          5.80
3                      5           0.00          7.55
4                      5           0.00         55.55
...                  ...            ...           ...
7667783                2           4.15         15.80
7667784                1           1.34          9.30
7667785                1           1.45         14.16
7667786                2           4.28         21.96
7667787                1           4.79         23.16

[7659247 rows x 3 columns]

In [139]:
# Set trip_distance to be the index. Now sort by the index, and find the 10 shortest trips.

df = df.set_index('trip_distance')
df.head()

               passenger_count  total_amount
trip_distance
1.5                          1          9.95
2.6                          1         16.30
0.0                          3          5.80
0.0                          5          7.55
0.0                          5         55.55

In [143]:
df.sort_index().loc[0.00001:]

               passenger_count  total_amount
trip_distance
0.01                         1         -3.80
0.01                         2          3.30
0.01                         2          4.80
0.01                         1          4.30
0.01                         1         52.80
...                        ...           ...
201.27                       1        152.46
211.36                       2         56.56
214.01                       5        761.80
700.70                       1          9.00
831.80                       1         11.76

[7613022 rows x 2 columns]

In [149]:
df.memory_usage()

Index                   128
passenger_count    61342336
trip_distance      61342336
total_amount       61342336
dtype: int64

In [150]:
df.memory_usage().sum()   # 184 MB!

184027136

# Grouping

In [157]:
# I want to know the mean taxi distance when passenger_count is 1

df.loc[
    df['passenger_count'] == 1,
    'trip_distance'
].mean()

2.7790883193389573

In [158]:
# I also want to know the mean trip_distance when passenger_count is 2

df.loc[
    df['passenger_count'] == 2,
    'trip_distance'
].mean()

2.8805724948972533

In [159]:
# I also want to know the mean trip_distance when passenger_count is 3

df.loc[
    df['passenger_count'] == 3,
    'trip_distance'
].mean()

2.8406983328090596

# What are we doing here?

We're trying to:

- For every different value of `passenger_count`
- Apply the `mean` method
- To the `trip_distance` column

This is known as grouping, and we wil get a series back in which the index contains all of the different (unique) values of `passenger_count` and the values will be the mean of `trip_distance` for each of these values of `passenger_count`.

In [160]:
# for all unique values of passenger_count, calculate the mean of trip_distance
df.groupby('passenger_count')['trip_distance'].mean()

passenger_count
0    2.651561
1    2.779088
2    2.880572
3    2.840698
4    2.853084
5    2.865741
6    2.842335
7    2.561579
8    3.142759
9    1.486667
Name: trip_distance, dtype: float64

In [161]:
df.groupby('passenger_count')['total_amount'].mean()

passenger_count
0    18.663658
1    15.609601
2    15.831294
3    15.604015
4    15.650307
5    15.546940
6    15.437892
7    48.278421
8    64.105517
9    31.094444
Name: total_amount, dtype: float64

In [162]:
# don't group by a column with floating-point values, or with very open-ended, distinct values

# for each amount that the taxi passenger(s) paid,
# find out the mean number of passengers

df.groupby('total_amount')['passenger_count'].mean()

total_amount
-362.80       1.0
-322.30       1.0
-320.30       2.0
-300.30       1.0
-284.80       1.0
             ...
 33023.53     0.0
 34674.65     0.0
 36090.30     0.0
 356214.78    1.0
 623261.66    1.0
Name: passenger_count, Length: 12191, dtype: float64

# Exercise: Average amount per payment type

1. Create a data frame from NYC taxi data in January, 2019.  We want `trip_distance`, `total_amount`, and `payment_type`.  (The value of `payment_type` is 1 for cash, and 2 for credit.)
2. What was the mean `trip_distance` for each type of payment?
3. What was the mean `total_amount` for each type of payment?

In [164]:
df = pd.read_csv('../data/nyc_taxi_2019-01.csv',
                 usecols=['trip_distance', 'total_amount', 'payment_type'])

In [166]:
# what is the mean trip_distance for each type of payment?

# unique values: payment_type
# column to calculate: trip_distance
# aggregation method: mean

df.groupby('payment_type')['trip_distance'].mean()

payment_type
1    2.920842
2    2.500341
3    2.423218
4    2.653776
Name: trip_distance, dtype: float64

In [167]:
df.groupby('payment_type')['total_amount'].mean()

payment_type
1    16.747057
2    12.749036
3    30.907704
4     8.735856
Name: total_amount, dtype: float64

In [168]:
df.groupby('payment_type')['total_amount'].max()

payment_type
1     36090.30
2    356214.78
3    623261.66
4       791.56
Name: total_amount, dtype: float64

# Next up:

1. More advanced grouping
    - Multiple columns
    - Multiple aggregatrions
2. Pivot tables

Taking 10 minutes for a break

# Grouping with multiple columns

Returning to our taxi example: I want to know the mean for `total_amount` and also `trip_distance` for taxi rides in January 2019, grouped by `payment_type`

- Group by: `payment_type`
- Aggregation: `mean`
- Calculate the mean on both `total_amount` and `trip_distance`

In [171]:
# for each value of payment type,
# I want the mean of total_amount and trip_distance

df.groupby('payment_type')[['total_amount', 'trip_distance']].mean()

              total_amount  trip_distance
payment_type
1                16.747057       2.920842
2                12.749036       2.500341
3                30.907704       2.423218
4                 8.735856       2.653776

# Grouping with multiple aggregations

What if I only want to run my `groupby` on a single column, but I want to run multiple aggregation methods?

- Group by: `payment_type`
- Aggregation: `mean` and `std`
- Calculate on: `total_amount`

In [172]:
df.groupby('payment_type')['total_amount'].mean()

payment_type
1    16.747057
2    12.749036
3    30.907704
4     8.735856
Name: total_amount, dtype: float64

In [173]:
df.groupby('payment_type')['total_amount'].std()

payment_type
1      44.619759
2     243.962684
3    3425.306706
4      24.367473
Name: total_amount, dtype: float64

In [175]:
# this is how I can specify multiple aggregation methods

# I get a data frame in which each column represents a different aggregation method
# the index shows me on which column I'm grouping
# we have to know on which column we're calculating

df.groupby('payment_type')['total_amount'].agg(['mean', 'std'])

                   mean          std
payment_type
1             16.747057    44.619759
2             12.749036   243.962684
3             30.907704  3425.306706
4              8.735856    24.367473

In [176]:
# what were, for each payment type, the minimum and maximum distances?

df.groupby('payment_type')['trip_distance'].agg(['min', 'max'])

              min     max
payment_type
1             0.0  831.80
2             0.0  214.01
3             0.0  107.80
4             0.0   44.70

# What about multiple columns *and* multiple aggregation methods?

What if I want to know the minimum and maximum values, for each payment type, for each of the columns `trip_distance` and `total_amount`?

- Group on: `payment_type`
- Aggregation methods: `min` and `max`
- Calculate on columns: `trip_distance` and `total_amount`

In [178]:
results = df.groupby('payment_type')[['trip_distance', 'total_amount']].agg(['min', 'max'])
results

             trip_distance         total_amount
                       min     max          min        max
payment_type
1                      0.0  831.80       -12.30   36090.30
2                      0.0  214.01      -109.56  356214.78
3                      0.0  107.80      -322.30  623261.66
4                      0.0   44.70      -362.80     791.56

The above is a data frame. But it's a data frame with a "multi-index," here on the columns:

- The row index is integers, 1, 2, 3, and 4 -- the unique values for `payment_type`
- The columns contain a two-level index.

In [179]:
results['trip_distance']  # by specifying only the top level of the multi-index...

              min     max
payment_type
1             0.0  831.80
2             0.0  214.01
3             0.0  107.80
4             0.0   44.70

In [180]:
results['trip_distance', 'min']    # specify both levels

payment_type
1    0.0
2    0.0
3    0.0
4    0.0
Name: (trip_distance, min), dtype: float64

In [181]:
!head ../data/olympic_athlete_events.csv

"ID","Name","Sex","Age","Height","Weight","Team","NOC","Games","Year","Season","City","Sport","Event","Medal"
"1","A Dijiang","M",24,180,80,"China","CHN","1992 Summer",1992,"Summer","Barcelona","Basketball","Basketball Men's Basketball",NA
"2","A Lamusi","M",23,170,60,"China","CHN","2012 Summer",2012,"Summer","London","Judo","Judo Men's Extra-Lightweight",NA
"3","Gunnar Nielsen Aaby","M",24,NA,NA,"Denmark","DEN","1920 Summer",1920,"Summer","Antwerpen","Football","Football Men's Football",NA
"4","Edgar Lindenau Aabye","M",34,NA,NA,"Denmark/Sweden","DEN","1900 Summer",1900,"Summer","Paris","Tug-Of-War","Tug-Of-War Men's Tug-Of-War","Gold"
"5","Christine Jacoba Aaftink","F",21,185,82,"Netherlands","NED","1988 Winter",1988,"Winter","Calgary","Speed Skating","Speed Skating Women's 500 metres",NA
"5","Christine Jacoba Aaftink","F",21,185,82,"Netherlands","NED","1988 Winter",1988,"Winter","Calgary","Speed Skating","Speed Skating Women's 1,000 metres",NA
"5","Christine Jacoba Aaftink","F",25,185,82,"Netherlands","NED","1992 Winter",1992,"Winter","Albertville","Speed Skating","Speed Skating Women's 500 metres",NA
"5","Christine Jacoba Aaftink","F",25,185,82,"Netherlands","NED","1992 Winter",1992,"Winter","Albertville","Speed Skating","Speed Skating Women's 1,000 metres",NA
"5","Christine Jacoba Aaftink","F",27,185,82,"Netherlands","NED","1994 Winter",1994,"Winter","Lillehammer","Speed Skating","Speed Skating Women's 500 metres",NA

# Exercise: Olympic stats

1. Create a data frame from the `olympic_athlete_events.csv` file, in the Pandas Workout zipfile. Only load the following columns: `Sex`, `Age`, `Height`, `Weight`, `Team`, `Year`.
2. What was the average height of an athlete, for each year in which the Olympic games took places?
3. What were the minimum and maximum ages of athletes for each team in the games through their history?
4. What were the min and max of height and weight for each year in which the games took place?

In [182]:
df = pd.read_csv('../data/olympic_athlete_events.csv',
                usecols=['Sex', 'Age', 'Height', 'Weight', 'Team', 'Year'])

In [183]:
df.head()

  Sex   Age  Height  Weight            Team  Year
0   M  24.0   180.0    80.0           China  1992
1   M  23.0   170.0    60.0           China  2012
2   M  24.0     NaN     NaN         Denmark  1920
3   M  34.0     NaN     NaN  Denmark/Sweden  1900
4   F  21.0   185.0    82.0     Netherlands  1988

In [184]:
df.shape

(271116, 6)

In [185]:
# what was the average height of an athlete, for each year in which the Olympic games took place?

# - group by: year
# - aggregation: mean
# - calculate on: Height

df.groupby('Year')['Height'].mean()

Year
1896    172.739130
1900    176.637931
1904    175.788732
1906    178.206226
1908    177.543158
1912    177.447989
1920    175.752282
1924    174.963039
1928    175.162051
1932    174.220115
1936    175.723993
1948    176.172797
1952    174.138940
1956    173.900968
1960    173.141286
1964    173.448574
1968    173.945865
1972    174.565363
1976    174.920528
1980    175.527488
1984    175.540855
1988    175.745252
1992    176.174649
1994    175.169862
1996    175.895121
1998    174.581369
2000    176.089721
2002    174.702451
2004    175.972850
2006    174.623172
2008    176.211062
2010    174.918182
2012    176.262469
2014    174.816670
2016    176.034266
Name: Height, dtype: float64

In [187]:
df.groupby('Year')['Height'].mean().pct_change()

Year
1896         NaN
1900    0.022570
1904   -0.004808
1906    0.013752
1908   -0.003721
1912   -0.000536
1920   -0.009556
1924   -0.004491
1928    0.001137
1932   -0.005378
1936    0.008632
1948    0.002554
1952   -0.011545
1956   -0.001367
1960   -0.004368
1964    0.001775
1968    0.002867
1972    0.003561
1976    0.002035
1980    0.003470
1984    0.000076
1988    0.001164
1992    0.002443
1994   -0.005703
1996    0.004140
1998   -0.007469
2000    0.008640
2002   -0.007878
2004    0.007272
2006   -0.007670
2008    0.009093
2010   -0.007337
2012    0.007685
2014   -0.008203
2016    0.006965
Name: Height, dtype: float64

In [190]:
# What were the minimum and maximum ages of athletes for each team in the games through their history?

# Group by: Team
# Aggregate method: min, max
# Calculate on: Age

df.groupby('Team')['Age'].agg(['min', 'max']).head(30)

                               min   max
Team
30. Februar                   23.0  44.0
A North American Team         38.0  44.0
Acipactli                     44.0  52.0
Acturus                       27.0  27.0
Afghanistan                   17.0  35.0
Akatonbo                      36.0  44.0
Alain IV                      40.0  54.0
Albania                       16.0  46.0
Alcaid                        28.0  33.0
Alcyon-6                       NaN   NaN
Alcyon-7                       NaN   NaN
Aldebaran                     25.0  40.0
Aldebaran II                  36.0  39.0
Aletta                        26.0  40.0
Algeria                       14.0  38.0
Ali-Baba II                   26.0  51.0
Ali-Baba IV                   35.0  41.0
Ali-Baba IX                   38.0  53.0
Ali-Baba VI                   33.0  49.0
Allegro                       30.0  38.0
Almaz                         24.0  27.0
Aloha II                      16.0  43.0
Amateur Athletic Association  22.0  29.0
American Samoa                16.0  43.0
Amolgavar                     22.0  36.0
Amstel Amsterdam              20.0  24.0
Amulet-3                      31.0  34.0
Amulet-7                      31.0  34.0
Ancora                        30.0  36.0
Andorinha                     24.0  40.0

In [192]:
df.groupby('Team')['Age'].agg(['min', 'max']).sort_values('min').head(30)

                                min   max
Team
Ethnikos Gymnastikos Syllogos  10.0  10.0
China                          11.0  45.0
Italy                          11.0  71.0
Puerto Rico                    11.0  65.0
Romania                        11.0  57.0
Great Britain                  11.0  84.0
Japan                          11.0  71.0
Norway                         11.0  62.0
South Africa                   11.0  52.0
Spain                          11.0  66.0
Germany                        12.0  80.0
United States                  12.0  97.0
Hungary                        12.0  58.0
Soviet Union                   12.0  49.0
Colombia                       12.0  52.0
East Germany                   12.0  40.0
Austria                        12.0  76.0
Belgium                        12.0  74.0
Cote d'Ivoire                  12.0  45.0
Mexico                         12.0  57.0
Cambodia                       12.0  44.0
Denmark                        12.0  73.0
Malaysia                       12.0  49.0
Cameroon                       12.0  35.0
North Korea                    12.0  45.0
Great Britain-2                12.0  57.0
France                         12.0  81.0
Czechoslovakia                 13.0  65.0
El Salvador                    13.0  68.0
Lebanon                        13.0  53.0

In [193]:
# What were the min and max of height and weight for each year in which the games took place?

# grouping by Year
# aggregating on min + max
# calculating on height + weight

df.groupby('Year')[['Height', 'Weight']].agg(['min', 'max'])

     Height        Weight
        min    max    min    max
Year
1896  154.0  188.0   45.0  106.0
1900  153.0  191.0   51.0  102.0
1904  155.0  195.0   43.0  115.0
1906  165.0  196.0   52.0  114.0
1908  157.0  201.0   51.0  115.0
1912  157.0  200.0   49.0  125.0
1920  142.0  197.0   48.0  146.0
1924  142.0  200.0   44.0  146.0
1928  147.0  211.0   41.0  125.0
1932  147.0  200.0   41.0  110.0
1936  147.0  205.0   37.0  138.0
1948  140.0  213.0   47.0  125.0
1952  150.0  213.0   42.0  145.0
1956  137.0  218.0   28.0  141.0
1960  137.0  218.0   36.0  141.0
1964  137.0  218.0   38.0  163.0
1968  127.0  216.0   34.0  163.0
1972  130.0  223.0   38.0  182.0
1976  136.0  220.0   30.0  163.0
1980  131.0  220.0   25.0  190.0
1984  132.0  218.0   31.0  150.0
1988  127.0  223.0   32.0  161.0
1992  136.0  223.0   30.0  176.5
1994  148.0  200.0   40.0  113.0
1996  136.0  223.0   30.0  176.5
1998  142.0  200.0   32.0  123.0
2000  136.0  226.0   28.0  180.0
2002  149.0  201.0   42.0  123.0
2004  139.0  226.0   30.0  198.0
2006  147.0  206.0   38.0  127.0
2008  137.0  226.0   28.0  214.0
2010  149.0  206.0   38.0  116.0
2012  140.0  221.0   33.0  214.0
2014  146.0  206.0   41.0  116.0
2016  133.0  218.0   30.0  170.0

# Pivot tables

Pivot tables are basically 2D groupby queries.  Normally, we've said that we want to group on a particular column (with unique values), and then calculate our aggregate method on a particular column.

- Group on:
- Aggregation method:
- Calculate on:

In a pivot table, we're going to group on *two* separate columns, each of which has unique values (i.e., categorical data). We'll end up with a data frame in which the index (rows) represents all of the unique values from one column, the columns represent all of the unique values from a second column, and the cells contain the result of running our aggregation method for all values at that intersection.

In [194]:
# let's look at taxi data again!

df = pd.read_csv('../data/nyc_taxi_2019-01.csv',
                usecols=['passenger_count', 'trip_distance', 'total_amount', 'payment_type'])

# I want to know: What was, for each combination of passenger_count and payment_type, the 
# mean total_amount?

# This is where pivot tables come in

In [196]:
# for every combination of passenger_count (index) and payment_type (columns),
# show me the mean total_amount

df.pivot_table(index='passenger_count', columns='payment_type', values='total_amount')

payment_type             1          2          3          4
passenger_count
0                20.764643  12.306161  38.630381  13.339928
1                16.628241  12.618859  34.609163   8.538202
2                16.985211  13.132331  13.240993   9.805937
3                16.672447  13.206434  12.371247   7.335938
4                16.759958  13.531921  15.262684  13.673812
5                16.671059  12.820309  -5.558167  -5.830643
6                16.592230  12.649407  -3.495205  -4.445522
7                75.430000  23.337143        NaN -75.800000
8                62.898519  80.400000        NaN        NaN
9                33.756250   9.800000        NaN        NaN

In [202]:
# change (set) the aggregation method

# show us the max value of total_amount
# for each combination of passenger_count and payment_type

df.pivot_table(index='passenger_count',   # categorical data, one row per unique value
               columns='payment_type',    # categorical data, one column per unique value
               values='total_amount',     # what column are we calculating on?
               aggfunc='max')             # what aggregation method (default: mean)

payment_type            1          2          3       4
passenger_count
0                36090.30     204.80   24249.43  115.56
1                  845.15  356214.78  623261.66  791.56
2                  449.32     515.82     589.96  157.90
3                  463.30     341.97     130.30  142.80
4                  447.36     500.30     110.56  185.56
5                  468.60     761.80      60.80   64.32
6                  490.80     282.56     177.80   58.56
7                  136.95      75.80        NaN  -75.80
8                  114.96      80.80        NaN     NaN
9                  110.76       9.80        NaN     NaN

# Exercise: Pivoting with the Olympics

1. We're going to use our data frame from the previous exercise with Olympic data.
2. For each year, and each team, show the mean height.
3. For each year, and each value of `Sex`, show the max age.
4. For each year, and each value of `Sex`, show the min and max ages.

In [203]:
df = pd.read_csv('../data/olympic_athlete_events.csv',
                usecols=['Sex', 'Age', 'Height', 'Weight', 'Team', 'Year'])

In [206]:
# For each year, and each team, show the mean height.

# Index (rows): Years
# Columns: Teams
# Calculate on: Height
# Aggregation method: mean

df.pivot_table(index='Year', columns='Team', values='Height', aggfunc='mean')

Team,30. Februar,Acipactli,Afghanistan,Akatonbo,Alain IV,Albania,Aldebaran,Aldebaran II,Aletta,Algeria,...,Ylliam II,Ylliam VII,Ylliam VIII,Yugoslavia,Yugoslavia-1,Yugoslavia-2,Zambia,Zefyros,Zimbabwe,rn-2
Year,,,,,,,,,,,,,,,,,,,,,
1896,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1906,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,176.0
1920,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1924,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,190.000000,NaN,NaN,NaN,NaN,NaN,NaN
1928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,173.428571,NaN,NaN,NaN,NaN,NaN,NaN
1932,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,192.000000,NaN,NaN,NaN,NaN,NaN,NaN
1936,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,179.0,NaN,NaN,179.900000,NaN,NaN,NaN,NaN,NaN,NaN
1948,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,179.333333,NaN,176.666667,NaN,NaN,NaN,NaN,NaN,NaN
1952,171.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,180.0,172.950000,NaN,NaN,NaN,NaN,NaN,NaN
1956,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,178.352941,NaN,NaN,NaN,NaN,NaN,NaN
1960,NaN,NaN,170.687500,NaN,NaN,NaN,NaN,177.5,176.333333,NaN,...,NaN,NaN,NaN,175.032787,NaN,NaN,NaN,180.0,155.000000,NaN
1964,NaN,174.666667,161.000000,182.0,176.0,NaN,174.5,NaN,NaN,175.000000,...,NaN,NaN,NaN,176.724138,NaN,NaN,175.733333,NaN,174.161290,NaN
1968,NaN,NaN,170.200000,NaN,NaN,NaN,NaN,NaN,NaN,169.777778,...,NaN,NaN,NaN,174.965909,NaN,NaN,175.250000,NaN,NaN,NaN
1972,NaN,NaN,168.333333,NaN,NaN,NaN,NaN,NaN,NaN,173.166667,...,NaN,NaN,NaN,175.260684,179.5,175.00,168.500000,NaN,NaN,NaN
1976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,184.254545,NaN,NaN,NaN,NaN,NaN,NaN
1980,NaN,NaN,168.363636,NaN,NaN,NaN,NaN,NaN,NaN,175.450000,...,NaN,NaN,NaN,182.543590,NaN,NaN,174.214286,NaN,171.942308,NaN
1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,176.809524,...,NaN,NaN,NaN,180.256000,186.2,183.25,173.714286,NaN,173.950000,NaN
1988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,176.166667,...,NaN,NaN,NaN,182.046083,NaN,NaN,172.781250,NaN,176.489362,NaN
1992,NaN,NaN,NaN,NaN,NaN,163.000000,NaN,NaN,NaN,170.428571,...,NaN,NaN,NaN,181.375000,183.0,183.00,169.714286,NaN,171.142857,NaN
1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996,NaN,NaN,NaN,NaN,NaN,169.000000,NaN,NaN,NaN,176.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,170.166667,NaN,176.705882,NaN
1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000,NaN,NaN,NaN,NaN,NaN,167.800000,NaN,NaN,NaN,174.313725,...,NaN,NaN,NaN,NaN,NaN,NaN,173.166667,NaN,178.960000,NaN
2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004,NaN,NaN,170.750000,NaN,NaN,172.285714,NaN,NaN,NaN,173.623188,...,NaN,NaN,NaN,NaN,NaN,NaN,173.666667,NaN,177.785714,NaN
2006,NaN,NaN,NaN,NaN,NaN,180.000000,NaN,NaN,NaN,171.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008,NaN,NaN,179.250000,NaN,NaN,173.416667,NaN,NaN,NaN,176.982143,...,NaN,NaN,NaN,NaN,NaN,NaN,168.714286,NaN,171.928571,NaN
2010,NaN,NaN,NaN,NaN,NaN,180.000000,NaN,NaN,NaN,170.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012,NaN,NaN,171.666667,NaN,NaN,176.800000,NaN,NaN,NaN,174.263158,...,NaN,NaN,NaN,NaN,NaN,NaN,176.166667,NaN,174.444444,NaN
2014,NaN,NaN,NaN,NaN,NaN,163.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,182.000000,NaN
2016,NaN,NaN,173.666667,NaN,NaN,176.166667,NaN,NaN,NaN,174.027027,...,NaN,NaN,NaN,NaN,NaN,NaN,175.166667,NaN,167.838710,NaN

In [207]:
# For each year, and each value of Sex, show the max age.

# index: Year
# columns: Sex
# values: Age
# aggregation function: max

df.pivot_table(index='Year', columns='Sex', values='Age', aggfunc='max')

Sex      F     M
Year
1896   NaN  40.0
1900  46.0  71.0
1904  63.0  71.0
1906  26.0  54.0
1908  54.0  61.0
1912  45.0  67.0
1920  42.0  72.0
1924  74.0  81.0
1928  67.0  97.0
1932  69.0  96.0
1936  73.0  74.0
1948  72.0  84.0
1952  45.0  65.0
1956  61.0  67.0
1960  65.0  64.0
1964  43.0  60.0
1968  66.0  68.0
1972  69.0  66.0
1976  48.0  70.0
1980  49.0  70.0
1984  52.0  60.0
1988  63.0  70.0
1992  53.0  62.0
1994  40.0  46.0
1996  58.0  63.0
1998  44.0  50.0
2000  53.0  63.0
2002  48.0  48.0
2004  56.0  57.0
2006  44.0  52.0
2008  58.0  67.0
2010  46.0  51.0
2012  57.0  71.0
2014  45.0  55.0
2016  62.0  60.0

In [208]:
# For each year, and each value of Sex, show the min and max ages.

# index: Year
# columns: Sex
# values: Age
# aggregation function: max

df.pivot_table(index='Year', columns='Sex', values='Age', aggfunc=['min','max'])

       min         max
Sex      F     M     F     M
Year
1896   NaN  10.0   NaN  40.0
1900  13.0  15.0  46.0  71.0
1904  24.0  14.0  63.0  71.0
1906  21.0  13.0  26.0  54.0
1908  21.0  14.0  54.0  61.0
1912  13.0  15.0  45.0  67.0
1920  13.0  13.0  42.0  72.0
1924  11.0  14.0  74.0  81.0
1928  11.0  13.0  67.0  97.0
1932  11.0  13.0  69.0  96.0
1936  11.0  12.0  73.0  74.0
1948  12.0  13.0  72.0  84.0
1952  13.0  12.0  45.0  65.0
1956  12.0  13.0  61.0  67.0
1960  11.0  13.0  65.0  64.0
1964  12.0  13.0  43.0  60.0
1968  11.0  12.0  66.0  68.0
1972  13.0  12.0  69.0  66.0
1976  12.0  14.0  48.0  70.0
1980  13.0  13.0  49.0  70.0
1984  13.0  12.0  52.0  60.0
1988  11.0  12.0  63.0  70.0
1992  12.0  11.0  53.0  62.0
1994  13.0  15.0  40.0  46.0
1996  12.0  14.0  58.0  63.0
1998  15.0  14.0  44.0  50.0
2000  13.0  14.0  53.0  63.0
2002  15.0  15.0  48.0  48.0
2004  13.0  14.0  56.0  57.0
2006  14.0  15.0  44.0  52.0
2008  12.0  13.0  58.0  67.0
2010  15.0  15.0  46.0  51.0
2012  13.0  15.0  57.0  71.0
2014  15.0  15.0  45.0  55.0
2016  13.0  14.0  62.0  60.0

# Next up

1. Joining
2. Cleaning data

In [212]:
# can I pass a tuple of strings to aggfunc, or must it be a list?
# answer: It doesn't matter

df.pivot_table(index='Year', columns='Sex', values='Age', aggfunc={'min','max'})

       max         min
Sex      F     M     F     M
Year
1896   NaN  40.0   NaN  10.0
1900  46.0  71.0  13.0  15.0
1904  63.0  71.0  24.0  14.0
1906  26.0  54.0  21.0  13.0
1908  54.0  61.0  21.0  14.0
1912  45.0  67.0  13.0  15.0
1920  42.0  72.0  13.0  13.0
1924  74.0  81.0  11.0  14.0
1928  67.0  97.0  11.0  13.0
1932  69.0  96.0  11.0  13.0
1936  73.0  74.0  11.0  12.0
1948  72.0  84.0  12.0  13.0
1952  45.0  65.0  13.0  12.0
1956  61.0  67.0  12.0  13.0
1960  65.0  64.0  11.0  13.0
1964  43.0  60.0  12.0  13.0
1968  66.0  68.0  11.0  12.0
1972  69.0  66.0  13.0  12.0
1976  48.0  70.0  12.0  14.0
1980  49.0  70.0  13.0  13.0
1984  52.0  60.0  13.0  12.0
1988  63.0  70.0  11.0  12.0
1992  53.0  62.0  12.0  11.0
1994  40.0  46.0  13.0  15.0
1996  58.0  63.0  12.0  14.0
1998  44.0  50.0  15.0  14.0
2000  53.0  63.0  13.0  14.0
2002  48.0  48.0  15.0  15.0
2004  56.0  57.0  13.0  14.0
2006  44.0  52.0  14.0  15.0
2008  58.0  67.0  12.0  13.0
2010  46.0  51.0  15.0  15.0
2012  57.0  71.0  13.0  15.0
2014  45.0  55.0  15.0  15.0
2016  62.0  60.0  13.0  14.0

# Joining 

If I have two data frames, and they share an index, then I can "join" them together.

In [213]:
df.head()

  Sex   Age  Height  Weight            Team  Year
0   M  24.0   180.0    80.0           China  1992
1   M  23.0   170.0    60.0           China  2012
2   M  24.0     NaN     NaN         Denmark  1920
3   M  34.0     NaN     NaN  Denmark/Sweden  1900
4   F  21.0   185.0    82.0     Netherlands  1988

In [214]:
# I can load data about (a subset of) the OECD
# "club of mostly-rich countries"

# let's find information about the Olympics only for OECD countries
# (note: only the subset in a file)

In [215]:
!ls ../data/oecd*

../data/oecd_locations.csv  ../data/oecd_tourism.csv

In [216]:
!cat ../data/oecd_locations.csv

﻿AUS,Australia
AUT,Austria
BEL,Belgium
CAN,Canada
DNK,Denmark
FIN,Finland
FRA,France
DEU,Germany
HUN,Hungary
ITA,Italy
JPN,Japan
KOR,Korea
GBR,United Kingdom
USA,United States
BRA,Brazil
ISR,Israel

In [220]:
# let's turn that into a data frame

locations_df = pd.read_csv('../data/oecd_locations.csv',
                          header=None,
                          names=['abbreviation', 'name'],
                          index_col='name')
locations_df

               abbreviation
name
Australia               AUS
Austria                 AUT
Belgium                 BEL
Canada                  CAN
Denmark                 DNK
Finland                 FIN
France                  FRA
Germany                 DEU
Hungary                 HUN
Italy                   ITA
Japan                   JPN
Korea                   KOR
United Kingdom          GBR
United States           USA
Brazil                  BRA
Israel                  ISR

In [222]:
# I want to create a new data frame containing Olympic data *plus* the OECD abbreviation for
# each country.  I'm willing to throw away all data for countries *not* in locations_df.

# in order for this to work, I have to make sure that the indexes
# contain overlapping values

In [225]:
# make sure that the country names are in the index
df = df.set_index('Team')

In [227]:
# now I have two data frames, each of which has country names in its index
# now I can join them -- and wherever the index has the same value, we'll get
# a new, wider data frame back with all values from both data frames

# for each row in locations_df,
# find the row in df with the same index
# and join them together
# (and yes, we might have more than one row in df that matches
# a row in locations_df)

locations_df.join(df)

              abbreviation Sex   Age  Height  Weight    Year
Australia              AUS   M  21.0   184.0    87.0  2008.0
Australia              AUS   M  30.0   178.0    66.0  2008.0
Australia              AUS   M  34.0   178.0    66.0  2012.0
Australia              AUS   M  19.0   169.0    74.0  2000.0
Australia              AUS   M  23.0   169.0    74.0  2004.0
...                    ...  ..   ...     ...     ...     ...
United States          USA   M  27.0   175.0    77.0  2004.0
United States          USA   M  31.0   175.0    77.0  2008.0
United States          USA   M  31.0   175.0    77.0  2008.0
United States          USA   M  25.0   175.0    64.0  1964.0
United States          USA   M  21.0   175.0    75.0  1972.0

[102836 rows x 6 columns]

# Using joins

Imagine that you have two data frames:

1. Contains sales information for each country in which your company operates
2. Contains general reports about the economy for each country in which your company operates

You might want to join these together into a single data frame, so that you can analyze them together.  Did your company do better in countries with rosy economies?

The key thing here is that the two data frames *must* have indexes that overlap.

In [228]:
!cat ../data/oecd_tourism.csv

﻿"LOCATION","INDICATOR","SUBJECT","MEASURE","FREQUENCY","TIME","Value","Flag Codes"
"AUS","TOUR_REC_EXP","INT_REC","USD","A","2008",31159.8,
"AUS","TOUR_REC_EXP","INT_REC","USD","A","2009",29980.7,
"AUS","TOUR_REC_EXP","INT_REC","USD","A","2010",35165.5,
"AUS","TOUR_REC_EXP","INT_REC","USD","A","2011",38710.1,
"AUS","TOUR_REC_EXP","INT_REC","USD","A","2012",38003.7,
"AUS","TOUR_REC_EXP","INT_REC","USD","A","2013",36965,
"AUS","TOUR_REC_EXP","INT_REC","USD","A","2014",38047.9,
"AUS","TOUR_REC_EXP","INT_REC","USD","A","2015",36226,
"AUS","TOUR_REC_EXP","INT_REC","USD","A","2016",39082.3,
"AUS","TOUR_REC_EXP","INT_REC","USD","A","2017",43959.1,
"AUS","TOUR_REC_EXP","INT_REC","USD","A","2018",47259.8,
"AUS","TOUR_REC_EXP","INT_REC","USD","A","2019",47930.9,
"AUS","TOUR_REC_EXP","INT-EXP","USD","A","2008",27620,
"AUS","TOUR_REC_EXP","INT-EXP","USD","A","2009",25629.6,
"AUS","TOUR_REC_EXP","INT-EXP","USD","A","2010",31916.5,
"AUS","TOUR_REC_EXP","INT-EXP","USD","A","2011",39381.5,
"AUS","TOUR_REC_EXP","INT-EXP","USD","A","2012",41632.8,
"AUS","TOUR_REC_EXP","INT-EXP","USD","A","2013",42428.3,
"AUS","TOUR_REC_EXP","INT-EXP","USD","A","2014",38774.5,
"AUS","TOUR_REC_EXP","INT-EXP","USD","A","2015",34102.9,
"AUS","TOUR_REC_EXP","INT-EXP","USD","A","2016",35674.6,
"AUS","TOUR_REC_EXP","INT-EXP","USD","A","2017",39644.9,
"AUS","TOUR_REC_EXP","INT-EXP","USD","A","2018",42478,
"AUS","TOUR_REC_EXP","INT-EXP","USD","A","2019",41452,
"AUT","TOUR_REC_EXP","INT_REC","USD","A","2008",21499.2,
"AUT","TOUR_REC_EXP","INT_REC","USD","A","2009",19302.8,
"AUT","TOUR_REC_EXP","INT_REC","USD","A","2010",18577.7,
"AUT","TOUR_REC_EXP","INT_REC","USD","A","2011",19833,
"AUT","TOUR_REC_EXP","INT_REC","USD","A","2012",21390.4,
"AUT","TOUR_REC_EXP","INT_REC","USD","A","2013",22734.9,
"AUT","TOUR_REC_EXP","INT_REC","USD","A","2014",23143.6,
"AUT","TOUR_REC_EXP","INT_REC","USD","A","2015",20352.5,
"AUT","TOUR_REC_EXP","INT_REC","USD","A","2016",20963.8,
"AUT","TOUR_REC_EXP","INT_REC","USD","A","2017",22483.8,
"AUT","TOUR_REC_EXP","INT_REC","USD","A","2018",25263.6,
"AUT","TOUR_REC_EXP","INT-EXP","USD","A","2008",11309.9,
"AUT","TOUR_REC_EXP","INT-EXP","USD","A","2009",10757.9,
"AUT","TOUR_REC_EXP","INT-EXP","USD","A","2010",10221.9,
"AUT","TOUR_REC_EXP","INT-EXP","USD","A","2011",10469.1,
"AUT","TOUR_REC_EXP","INT-EXP","USD","A","2012",12377.1,
"AUT","TOUR_REC_EXP","INT-EXP","USD","A","2013",12740.9,
"AUT","TOUR_REC_EXP","INT-EXP","USD","A","2014",13518.1,
"AUT","TOUR_REC_EXP","INT-EXP","USD","A","2015",11306.9,
"AUT","TOUR_REC_EXP","INT-EXP","USD","A","2016",11572.6,
"AUT","TOUR_REC_EXP","INT-EXP","USD","A","2017",12733.8,
"AUT","TOUR_REC_EXP","INT-EXP","USD","A","2018",14272,
"BEL","TOUR_REC_EXP","INT_REC","USD","A","2008",13117.515,
"BEL","TOUR_REC_EXP","INT_REC","USD","A","2009",13008.393,
"BEL","TOUR_REC_EXP","INT_REC","USD","A","2010",12682.7,
"BEL","TOUR_REC_EXP","INT_REC","USD","A","2011",14062.6,
"BEL","TOUR_REC_EXP","INT_REC","USD","A","2012",13723.5,
"BEL","TOUR_REC_EXP","INT_REC","USD","A","2013",14524.1,
"BEL","TOUR_REC_EXP","INT_REC","USD","A","2014",15234.9,
"BEL","TOUR_REC_EXP","INT_REC","USD","A","2015",8973.6,
"BEL","TOUR_REC_EXP","INT_REC","USD","A","2016",8779.5,
"BEL","TOUR_REC_EXP","INT_REC","USD","A","2017",9598.9,
"BEL","TOUR_REC_EXP","INT_REC","USD","A","2018",10390.8,
"BEL","TOUR_REC_EXP","INT-EXP","USD","A","2008",21525.615,
"BEL","TOUR_REC_EXP","INT-EXP","USD","A","2009",20037.703,
"BEL","TOUR_REC_EXP","INT-EXP","USD","A","2010",20920.6,
"BEL","TOUR_REC_EXP","INT-EXP","USD","A","2011",22678.6,
"BEL","TOUR_REC_EXP","INT-EXP","USD","A","2012",22450.4,
"BEL","TOUR_REC_EXP","INT-EXP","USD","A","2013",24514.1,
"BEL","TOUR_REC_EXP","INT-EXP","USD","A","2014",26411.3,
"BEL","TOUR_REC_EXP","INT-EXP","USD","A","2015",15850.8,
"BEL","TOUR_REC_EXP","INT-EXP","USD","A","2016",16492.8,
"BEL","TOUR_REC_EXP","INT-EXP","USD","A","2017",17715.9,
"BEL","TOUR_REC_EXP","INT-EXP","USD","A","2018",20860.9,
"CAN","TOUR_REC_EXP","INT_REC","USD","A","2008",19603.8,
"CAN","TOUR_REC_EXP","INT_REC","USD","A","2009",16767.8,
"CAN","TOUR_REC_EXP","INT_REC","USD","A","2010",20240.6,
"CAN","TOUR_REC_EXP","INT_REC","USD","A","2011",22296.5,
"CAN","TOUR_REC_EXP","INT_REC","USD","A","2012",23438.9,
"CAN","TOUR_REC_EXP","INT_REC","USD","A","2013",24190,
"CAN","TOUR_REC_EXP","INT_REC","USD","A","2014",24580.2,
"CAN","TOUR_REC_EXP","INT_REC","USD","A","2015",23083.7,
"CAN","TOUR_REC_EXP","INT_REC","USD","A","2016",25685.4,
"CAN","TOUR_REC_EXP","INT_REC","USD","A","2017",28459.1,
"CAN","TOUR_REC_EXP","INT_REC","USD","A","2018",30444.1,
"CAN","TOUR_REC_EXP","INT_REC","USD","A","2019",31641,
"CAN","TOUR_REC_EXP","INT-EXP","USD","A","2008",34820.1,
"CAN","TOUR_REC_EXP","INT-EXP","USD","A","2009",31663.4,
"CAN","TOUR_REC_EXP","INT-EXP","USD","A","2010",38933.6,
"CAN","TOUR_REC_EXP","INT-EXP","USD","A","2011",43166.7,
"CAN","TOUR_REC_EXP","INT-EXP","USD","A","2012",45144.6,
"CAN","TOUR_REC_EXP","INT-EXP","USD","A","2013",45746.3,
"CAN","TOUR_REC_EXP","INT-EXP","USD","A","2014",44946,
"CAN","TOUR_REC_EXP","INT-EXP","USD","A","2015",40333.6,
"CAN","TOUR_REC_EXP","INT-EXP","USD","A","2016",39178.7,
"CAN","TOUR_REC_EXP","INT-EXP","USD","A","2017",41888,
"CAN","TOUR_REC_EXP","INT-EXP","USD","A","2018",42313.1,
"CAN","TOUR_REC_EXP","INT-EXP","USD","A","2019",43681.5,
"CZE","TOUR_REC_EXP","INT_REC","USD","A","2008",8801.611,
"CZE","TOUR_REC_EXP","INT_REC","USD","A","2009",7874.834,
"CZE","TOUR_REC_EXP","INT_REC","USD","A","2010",8065.4,
"CZE","TOUR_REC_EXP","INT_REC","USD","A","2011",8929,
"CZE","TOUR_REC_EXP","INT_REC","USD","A","2012",8174.1,
"CZE","TOUR_REC_EXP","INT_REC","USD","A","2013",7792.6,
"CZE","TOUR_REC_EXP","INT_REC","USD","A","2014",7619.6,
"CZE","TOUR_REC_EXP","INT_REC","USD","A","2015",6766.5,
"CZE","TOUR_REC_EXP","INT_REC","USD","A","2016",7039.7,
"CZE","TOUR_REC_EXP","INT_REC","USD","A","2017",7655.4,
"CZE","TOUR_REC_EXP","INT_REC","USD","A","2018",8290.4,
"CZE","TOUR_REC_EXP","INT-EXP","USD","A","2008",4749.628,
"CZE","TOUR_REC_EXP","INT-EXP","USD","A","2009",4128.136,
"CZE","TOUR_REC_EXP","INT-EXP","USD","A","2010",4352.2,
"CZE","TOUR_REC_EXP","INT-EXP","USD","A","2011",4855.6,
"CZE","TOUR_REC_EXP","INT-EXP","USD","A","2012",4557.5,
"CZE","TOUR_REC_EXP","INT-EXP","USD","A","2013",4697.9,
"CZE","TOUR_REC_EXP","INT-EXP","USD","A","2014",5182,
"CZE","TOUR_REC_EXP","INT-EXP","USD","A","2015",4818.4,
"CZE","TOUR_REC_EXP","INT-EXP","USD","A","2016",4961.6,
"CZE","TOUR_REC_EXP","INT-EXP","USD","A","2017",5509,
"CZE","TOUR_REC_EXP","INT-EXP","USD","A","2018",6069.1,
"DNK","TOUR_REC_EXP","INT_REC","USD","A","2008",8751.64,
"DNK","TOUR_REC_EXP","INT_REC","USD","A","2009",7501.394,
"DNK","TOUR_REC_EXP","INT_REC","USD","A","2010",7778.2,
"DNK","TOUR_REC_EXP","INT_REC","USD","A","2011",8916.4,
"DNK","TOUR_REC_EXP","INT_REC","USD","A","2012",8763.5,
"DNK","TOUR_REC_EXP","INT_REC","USD","A","2013",9957.3,
"DNK","TOUR_REC_EXP","INT_REC","USD","A","2014",10416.7,
"DNK","TOUR_REC_EXP","INT_REC","USD","A","2015",8936.3,
"DNK","TOUR_REC_EXP","INT_REC","USD","A","2016",9857.4,
"DNK","TOUR_REC_EXP","INT_REC","USD","A","2017",10887.5,
"DNK","TOUR_REC_EXP","INT_REC","USD","A","2018",11622.2,
"DNK","TOUR_REC_EXP","INT-EXP","USD","A","2008",10379.687,
"DNK","TOUR_REC_EXP","INT-EXP","USD","A","2009",10724.379,
"DNK","TOUR_REC_EXP","INT-EXP","USD","A","2010",10619.9,
"DNK","TOUR_REC_EXP","INT-EXP","USD","A","2011",11832.2,
"DNK","TOUR_REC_EXP","INT-EXP","USD","A","2012",11208.4,
"DNK","TOUR_REC_EXP","INT-EXP","USD","A","2013",11871.1,
"DNK","TOUR_REC_EXP","INT-EXP","USD","A","2014",12343.4,
"DNK","TOUR_REC_EXP","INT-EXP","USD","A","2015",10717.8,
"DNK","TOUR_REC_EXP","INT-EXP","USD","A","2016",10941.5,
"DNK","TOUR_REC_EXP","INT-EXP","USD","A","2017",11554.6,
"DNK","TOUR_REC_EXP","INT-EXP","USD","A","2018",12394.9,
"FIN","TOUR_REC_EXP","INT_REC","USD","A","2008",3742.294,
"FIN","TOUR_REC_EXP","INT_REC","USD","A","2009",3237.845,
"FIN","TOUR_REC_EXP","INT_REC","USD","A","2010",3520.996,
"FIN","TOUR_REC_EXP","INT_REC","USD","A","2011",5577.872,
"FIN","TOUR_REC_EXP","INT_REC","USD","A","2012",5427.692,
"FIN","TOUR_REC_EXP","INT_REC","USD","A","2013",5775.7,
"FIN","TOUR_REC_EXP","INT_REC","USD","A","2014",5459.5,
"FIN","TOUR_REC_EXP","INT_REC","USD","A","2015",4008.1,
"FIN","TOUR_REC_EXP","INT_REC","USD","A","2016",4013.1,
"FIN","TOUR_REC_EXP","INT_REC","USD","A","2017",5175.8,
"FIN","TOUR_REC_EXP","INT_REC","USD","A","2018",5763.7,
"FIN","TOUR_REC_EXP","INT-EXP","USD","A","2008",4868.231,
"FIN","TOUR_REC_EXP","INT-EXP","USD","A","2009",4716.278,
"FIN","TOUR_REC_EXP","INT-EXP","USD","A","2010",4647.842,
"FIN","TOUR_REC_EXP","INT-EXP","USD","A","2011",5997.65,
"FIN","TOUR_REC_EXP","INT-EXP","USD","A","2012",5843.589,
"FIN","TOUR_REC_EXP","INT-EXP","USD","A","2013",6386.5,
"FIN","TOUR_REC_EXP","INT-EXP","USD","A","2014",6320.5,
"FIN","TOUR_REC_EXP","INT-EXP","USD","A","2015",5788.3,
"FIN","TOUR_REC_EXP","INT-EXP","USD","A","2016",6198.9,
"FIN","TOUR_REC_EXP","INT-EXP","USD","A","2017",6640.8,
"FIN","TOUR_REC_EXP","INT-EXP","USD","A","2018",7239.3,
"FRA","TOUR_REC_EXP","INT_REC","USD","A","2008",66878.091,
"FRA","TOUR_REC_EXP","INT_REC","USD","A","2009",58610.002,
"FRA","TOUR_REC_EXP","INT_REC","USD","A","2010",56690.1,
"FRA","TOUR_REC_EXP","INT_REC","USD","A","2011",65642.1,
"FRA","TOUR_REC_EXP","INT_REC","USD","A","2012",64309.9,
"FRA","TOUR_REC_EXP","INT_REC","USD","A","2013",66150.7,
"FRA","TOUR_REC_EXP","INT_REC","USD","A","2014",67023.9,
"FRA","TOUR_REC_EXP","INT_REC","USD","A","2015",66434.2,
"FRA","TOUR_REC_EXP","INT_REC","USD","A","2016",63345,
"FRA","TOUR_REC_EXP","INT_REC","USD","A","2017",67393.8,
"FRA","TOUR_REC_EXP","INT_REC","USD","A","2018",73218.9,
"FRA","TOUR_REC_EXP","INT-EXP","USD","A","2008",49670.781,
"FRA","TOUR_REC_EXP","INT-EXP","USD","A","2009",45665.514,
"FRA","TOUR_REC_EXP","INT-EXP","USD","A","2010",46829.3,
"FRA","TOUR_REC_EXP","INT-EXP","USD","A","2011",55292.6,
"FRA","TOUR_REC_EXP","INT-EXP","USD","A","2012",50225.2,
"FRA","TOUR_REC_EXP","INT-EXP","USD","A","2013",52468.4,
"FRA","TOUR_REC_EXP","INT-EXP","USD","A","2014",58370.9,
"FRA","TOUR_REC_EXP","INT-EXP","USD","A","2015",47702,
"FRA","TOUR_REC_EXP","INT-EXP","USD","A","2016",48937.3,
"FRA","TOUR_REC_EXP","INT-EXP","USD","A","2017",52183,
"FRA","TOUR_REC_EXP","INT-EXP","USD","A","2018",57992,
"DEU","TOUR_REC_EXP","INT_REC","USD","A","2008",53187.828,
"DEU","TOUR_REC_EXP","INT_REC","USD","A","2009",47203.349,
"DEU","TOUR_REC_EXP","INT_REC","USD","A","2010",49236.8,
"DEU","TOUR_REC_EXP","INT_REC","USD","A","2011",53333.8,
"DEU","TOUR_REC_EXP","INT_REC","USD","A","2012",51727.2,
"DEU","TOUR_REC_EXP","INT_REC","USD","A","2013",55474.3,
"DEU","TOUR_REC_EXP","INT_REC","USD","A","2014",58664.1,
"DEU","TOUR_REC_EXP","INT_REC","USD","A","2015",50664.5,
"DEU","TOUR_REC_EXP","INT_REC","USD","A","2016",52159.5,
"DEU","TOUR_REC_EXP","INT_REC","USD","A","2017",56066.2,
"DEU","TOUR_REC_EXP","INT_REC","USD","A","2018",59776.7,
"DEU","TOUR_REC_EXP","INT-EXP","USD","A","2008",105000.183,
"DEU","TOUR_REC_EXP","INT-EXP","USD","A","2009",92497.948,
"DEU","TOUR_REC_EXP","INT-EXP","USD","A","2010",91353.5,
"DEU","TOUR_REC_EXP","INT-EXP","USD","A","2011",99425.2,
"DEU","TOUR_REC_EXP","INT-EXP","USD","A","2012",96649.8,
"DEU","TOUR_REC_EXP","INT-EXP","USD","A","2013",102723.3,
"DEU","TOUR_REC_EXP","INT-EXP","USD","A","2014",101658.3,
"DEU","TOUR_REC_EXP","INT-EXP","USD","A","2015",85346,
"DEU","TOUR_REC_EXP","INT-EXP","USD","A","2016",87223.5,
"DEU","TOUR_REC_EXP","INT-EXP","USD","A","2017",96848.4,
"DEU","TOUR_REC_EXP","INT-EXP","USD","A","2018",104039.7,
"GRC","TOUR_REC_EXP","INT_REC","USD","A","2008",17212.437,
"GRC","TOUR_REC_EXP","INT_REC","USD","A","2009",14562.259,
"GRC","TOUR_REC_EXP","INT_REC","USD","A","2010",12830.7,
"GRC","TOUR_REC_EXP","INT_REC","USD","A","2011",14851.6,
"GRC","TOUR_REC_EXP","INT_REC","USD","A","2012",14877.1,
"GRC","TOUR_REC_EXP","INT_REC","USD","A","2013",17484.2,
"GRC","TOUR_REC_EXP","INT_REC","USD","A","2014",19439.1,
"GRC","TOUR_REC_EXP","INT_REC","USD","A","2015",17550.1,
"GRC","TOUR_REC_EXP","INT_REC","USD","A","2016",16687.3,
"GRC","TOUR_REC_EXP","INT_REC","USD","A","2017",18729.9,
"GRC","TOUR_REC_EXP","INT_REC","USD","A","2018",21771.4,
"GRC","TOUR_REC_EXP","INT-EXP","USD","A","2008",3940.923,
"GRC","TOUR_REC_EXP","INT-EXP","USD","A","2009",3387.725,
"GRC","TOUR_REC_EXP","INT-EXP","USD","A","2010",2876,
"GRC","TOUR_REC_EXP","INT-EXP","USD","A","2011",3229,
"GRC","TOUR_REC_EXP","INT-EXP","USD","A","2012",3009,
"GRC","TOUR_REC_EXP","INT-EXP","USD","A","2013",3767.2,
"GRC","TOUR_REC_EXP","INT-EXP","USD","A","2014",3998.4,
"GRC","TOUR_REC_EXP","INT-EXP","USD","A","2015",3536.5,
"GRC","TOUR_REC_EXP","INT-EXP","USD","A","2016",3408.6,
"GRC","TOUR_REC_EXP","INT-EXP","USD","A","2017",3290.3,
"GRC","TOUR_REC_EXP","INT-EXP","USD","A","2018",3911.7,
"HUN","TOUR_REC_EXP","INT_REC","USD","A","2008",6997.995,
"HUN","TOUR_REC_EXP","INT_REC","USD","A","2009",6650.088,
"HUN","TOUR_REC_EXP","INT_REC","USD","A","2010",6641.1,
"HUN","TOUR_REC_EXP","INT_REC","USD","A","2011",7276.3,
"HUN","TOUR_REC_EXP","INT_REC","USD","A","2012",6156.7,
"HUN","TOUR_REC_EXP","INT_REC","USD","A","2013",6675.4,
"HUN","TOUR_REC_EXP","INT_REC","USD","A","2014",7483.4,
"HUN","TOUR_REC_EXP","INT_REC","USD","A","2015",6934.2,
"HUN","TOUR_REC_EXP","INT_REC","USD","A","2016",7468.6,
"HUN","TOUR_REC_EXP","INT_REC","USD","A","2017",8377.3,
"HUN","TOUR_REC_EXP","INT_REC","USD","A","2018",9631.8,
"HUN","TOUR_REC_EXP","INT-EXP","USD","A","2008",3747.271,
"HUN","TOUR_REC_EXP","INT-EXP","USD","A","2009",3209.621,
"HUN","TOUR_REC_EXP","INT-EXP","USD","A","2010",2914.1,
"HUN","TOUR_REC_EXP","INT-EXP","USD","A","2011",3027.1,
"HUN","TOUR_REC_EXP","INT-EXP","USD","A","2012",2459.1,
"HUN","TOUR_REC_EXP","INT-EXP","USD","A","2013",2528.1,
"HUN","TOUR_REC_EXP","INT-EXP","USD","A","2014",2707.6,
"HUN","TOUR_REC_EXP","INT-EXP","USD","A","2015",2457.1,
"HUN","TOUR_REC_EXP","INT-EXP","USD","A","2016",2734,
"HUN","TOUR_REC_EXP","INT-EXP","USD","A","2017",3028.8,
"HUN","TOUR_REC_EXP","INT-EXP","USD","A","2018",3289.5,
"ISL","TOUR_REC_EXP","INT_REC","USD","A","2008",836.54,
"ISL","TOUR_REC_EXP","INT_REC","USD","A","2009",1257.888,
"ISL","TOUR_REC_EXP","INT_REC","USD","A","2010",1331.972,
"ISL","TOUR_REC_EXP","INT_REC","USD","A","2011",1694.596,
"ISL","TOUR_REC_EXP","INT_REC","USD","A","2012",1914.146,
"ISL","TOUR_REC_EXP","INT_REC","USD","A","2013",2264.2,
"ISL","TOUR_REC_EXP","INT_REC","USD","A","2014",2608.9,
"ISL","TOUR_REC_EXP","INT_REC","USD","A","2015",2801.4,
"ISL","TOUR_REC_EXP","INT_REC","USD","A","2016",3828.6,
"ISL","TOUR_REC_EXP","INT_REC","USD","A","2017",4693.2,
"ISL","TOUR_REC_EXP","INT_REC","USD","A","2018",3139.6,
"ISL","TOUR_REC_EXP","INT-EXP","USD","A","2008",1047.529,
"ISL","TOUR_REC_EXP","INT-EXP","USD","A","2009",583.834,
"ISL","TOUR_REC_EXP","INT-EXP","USD","A","2010",645.226,
"ISL","TOUR_REC_EXP","INT-EXP","USD","A","2011",799.95,
"ISL","TOUR_REC_EXP","INT-EXP","USD","A","2012",843.077,
"ISL","TOUR_REC_EXP","INT-EXP","USD","A","2013",906.5,
"ISL","TOUR_REC_EXP","INT-EXP","USD","A","2014",1034,
"ISL","TOUR_REC_EXP","INT-EXP","USD","A","2015",1055.8,
"ISL","TOUR_REC_EXP","INT-EXP","USD","A","2016",1321,
"ISL","TOUR_REC_EXP","INT-EXP","USD","A","2017",1724.3,
"ISL","TOUR_REC_EXP","INT-EXP","USD","A","2018",1839.8,
"IRL","TOUR_REC_EXP","INT_REC","USD","A","2008",6279.708,
"IRL","TOUR_REC_EXP","INT_REC","USD","A","2009",8410.167,
"IRL","TOUR_REC_EXP","INT_REC","USD","A","2010",8244.542,
"IRL","TOUR_REC_EXP","INT_REC","USD","A","2011",9466.814,
"IRL","TOUR_REC_EXP","INT_REC","USD","A","2012",9305,
"IRL","TOUR_REC_EXP","INT_REC","USD","A","2013",10177.2,
"IRL","TOUR_REC_EXP","INT_REC","USD","A","2014",11079.5,
"IRL","TOUR_REC_EXP","INT_REC","USD","A","2015",11484.3,
"IRL","TOUR_REC_EXP","INT_REC","USD","A","2016",12605.7,
"IRL","TOUR_REC_EXP","INT_REC","USD","A","2017",14132.3,
"IRL","TOUR_REC_EXP","INT_REC","USD","A","2018",14701.5,
"IRL","TOUR_REC_EXP","INT-EXP","USD","A","2008",10321.163,
"IRL","TOUR_REC_EXP","INT-EXP","USD","A","2009",7896.167,
"IRL","TOUR_REC_EXP","INT-EXP","USD","A","2010",7203.544,
"IRL","TOUR_REC_EXP","INT-EXP","USD","A","2011",6810.268,
"IRL","TOUR_REC_EXP","INT-EXP","USD","A","2012",6026,
"IRL","TOUR_REC_EXP","INT-EXP","USD","A","2013",6310.7,
"IRL","TOUR_REC_EXP","INT-EXP","USD","A","2014",6516.9,
"IRL","TOUR_REC_EXP","INT-EXP","USD","A","2015",5797.1,
"IRL","TOUR_REC_EXP","INT-EXP","USD","A","2016",6312.9,
"IRL","TOUR_REC_EXP","INT-EXP","USD","A","2017",6645.2,
"IRL","TOUR_REC_EXP","INT-EXP","USD","A","2018",7497.8,
"ITA","TOUR_REC_EXP","INT_REC","USD","A","2008",48073.314,
"ITA","TOUR_REC_EXP","INT_REC","USD","A","2009",41638.913,
"ITA","TOUR_REC_EXP","INT_REC","USD","A","2010",40375.2,
"ITA","TOUR_REC_EXP","INT_REC","USD","A","2011",45055.2,
"ITA","TOUR_REC_EXP","INT_REC","USD","A","2012",43270.8,
"ITA","TOUR_REC_EXP","INT_REC","USD","A","2013",46257.7,
"ITA","TOUR_REC_EXP","INT_REC","USD","A","2014",47714,
"ITA","TOUR_REC_EXP","INT_REC","USD","A","2015",41520.5,
"ITA","TOUR_REC_EXP","INT_REC","USD","A","2016",42309.8,
"ITA","TOUR_REC_EXP","INT_REC","USD","A","2017",46245.7,
"ITA","TOUR_REC_EXP","INT_REC","USD","A","2018",51771.2,
"ITA","TOUR_REC_EXP","INT-EXP","USD","A","2008",37480.895,
"ITA","TOUR_REC_EXP","INT-EXP","USD","A","2009",34231.798,
"ITA","TOUR_REC_EXP","INT-EXP","USD","A","2010",33205.5,
"ITA","TOUR_REC_EXP","INT-EXP","USD","A","2011",35588.1,
"ITA","TOUR_REC_EXP","INT-EXP","USD","A","2012",32925.6,
"ITA","TOUR_REC_EXP","INT-EXP","USD","A","2013",33526.5,
"ITA","TOUR_REC_EXP","INT-EXP","USD","A","2014",35530.7,
"ITA","TOUR_REC_EXP","INT-EXP","USD","A","2015",30328.7,
"ITA","TOUR_REC_EXP","INT-EXP","USD","A","2016",30543.9,
"ITA","TOUR_REC_EXP","INT-EXP","USD","A","2017",34537.8,
"ITA","TOUR_REC_EXP","INT-EXP","USD","A","2018",37738.5,
"JPN","TOUR_REC_EXP","INT_REC","USD","A","2008",13790.6,
"JPN","TOUR_REC_EXP","INT_REC","USD","A","2009",12506.2,
"JPN","TOUR_REC_EXP","INT_REC","USD","A","2010",15334.8,
"JPN","TOUR_REC_EXP","INT_REC","USD","A","2011",12500.1,
"JPN","TOUR_REC_EXP","INT_REC","USD","A","2012",16192.2,
"JPN","TOUR_REC_EXP","INT_REC","USD","A","2013",16904.6,
"JPN","TOUR_REC_EXP","INT_REC","USD","A","2014",20828.9,
"JPN","TOUR_REC_EXP","INT_REC","USD","A","2015",27300.6,
"JPN","TOUR_REC_EXP","INT_REC","USD","A","2016",33382.8,
"JPN","TOUR_REC_EXP","INT_REC","USD","A","2017",36967.1,
"JPN","TOUR_REC_EXP","INT_REC","USD","A","2018",45276.1,
"JPN","TOUR_REC_EXP","INT_REC","USD","A","2019",49206.3,
"JPN","TOUR_REC_EXP","INT-EXP","USD","A","2008",38964.9,
"JPN","TOUR_REC_EXP","INT-EXP","USD","A","2009",34719.8,
"JPN","TOUR_REC_EXP","INT-EXP","USD","A","2010",39181.2,
"JPN","TOUR_REC_EXP","INT-EXP","USD","A","2011",39686.4,
"JPN","TOUR_REC_EXP","INT-EXP","USD","A","2012",40933.6,
"JPN","TOUR_REC_EXP","INT-EXP","USD","A","2013",32227.1,
"JPN","TOUR_REC_EXP","INT-EXP","USD","A","2014",28536.9,
"JPN","TOUR_REC_EXP","INT-EXP","USD","A","2015",23254,
"JPN","TOUR_REC_EXP","INT-EXP","USD","A","2016",25853.1,
"JPN","TOUR_REC_EXP","INT-EXP","USD","A","2017",25772.6,
"JPN","TOUR_REC_EXP","INT-EXP","USD","A","2018",28115.5,
"JPN","TOUR_REC_EXP","INT-EXP","USD","A","2019",29130,
"KOR","TOUR_REC_EXP","INT_REC","USD","A","2008",13439.8,
"KOR","TOUR_REC_EXP","INT_REC","USD","A","2009",13262.1,
"KOR","TOUR_REC_EXP","INT_REC","USD","A","2010",14314.7,
"KOR","TOUR_REC_EXP","INT_REC","USD","A","2011",17329.3,
"KOR","TOUR_REC_EXP","INT_REC","USD","A","2012",18730.8,
"KOR","TOUR_REC_EXP","INT_REC","USD","A","2013",19457.7,
"KOR","TOUR_REC_EXP","INT_REC","USD","A","2014",22390.1,
"KOR","TOUR_REC_EXP","INT_REC","USD","A","2015",18711.5,
"KOR","TOUR_REC_EXP","INT_REC","USD","A","2016",20923.3,
"KOR","TOUR_REC_EXP","INT_REC","USD","A","2017",17173.1,
"KOR","TOUR_REC_EXP","INT_REC","USD","A","2018",19855.9,
"KOR","TOUR_REC_EXP","INT-EXP","USD","A","2008",21447,
"KOR","TOUR_REC_EXP","INT-EXP","USD","A","2009",16354.4,
"KOR","TOUR_REC_EXP","INT-EXP","USD","A","2010",20787.2,

"LTU","TOUR_REC_EXP","INT-EXP","USD","A","2010",940.5,
"LTU","TOUR_REC_EXP","INT-EXP","USD","A","2011",973.1,
"LTU","TOUR_REC_EXP","INT-EXP","USD","A","2012",1059.3,
"LTU","TOUR_REC_EXP","INT-EXP","USD","A","2013",1245.1,
"LTU","TOUR_REC_EXP","INT-EXP","USD","A","2014",1245.7,
"LTU","TOUR_REC_EXP","INT-EXP","USD","A","2015",1123.8,
"LTU","TOUR_REC_EXP","INT-EXP","USD","A","2016",1211.2,
"LTU","TOUR_REC_EXP","INT-EXP","USD","A","2017",1304.7,
"LTU","TOUR_REC_EXP","INT-EXP","USD","A","2018",1606,
"MLT","TOUR_REC_EXP","INT_REC","USD","A","2008",1082.982,
"MLT","TOUR_REC_EXP","INT_REC","USD","A","2009",899.538,
"MLT","TOUR_REC_EXP","INT_REC","USD","A","2010",1066.266,
"MLT","TOUR_REC_EXP","INT_REC","USD","A","2011",1461.553,
"MLT","TOUR_REC_EXP","INT_REC","USD","A","2012",1471.083,
"MLT","TOUR_REC_EXP","INT_REC","USD","A","2013",1649.523,
"MLT","TOUR_REC_EXP","INT_REC","USD","A","2014",1784.192,
"MLT","TOUR_REC_EXP","INT_REC","USD","A","2015",1677.472,
"MLT","TOUR_REC_EXP","INT_REC","USD","A","2016",2040.576,
"MLT","TOUR_REC_EXP","INT_REC","USD","A","2017",2412.999,
"MLT","TOUR_REC_EXP","INT_REC","USD","A","2018",1848.837,
"MLT","TOUR_REC_EXP","INT_REC","USD","A","2019",1897.01,
"MLT","TOUR_REC_EXP","INT-EXP","USD","A","2008",307.506,
"MLT","TOUR_REC_EXP","INT-EXP","USD","A","2009",290.924,
"MLT","TOUR_REC_EXP","INT-EXP","USD","A","2010",309.522,
"MLT","TOUR_REC_EXP","INT-EXP","USD","A","2011",332.677,
"MLT","TOUR_REC_EXP","INT-EXP","USD","A","2012",340.469,
"MLT","TOUR_REC_EXP","INT-EXP","USD","A","2013",383.826,
"MLT","TOUR_REC_EXP","INT-EXP","USD","A","2014",397.286,
"MLT","TOUR_REC_EXP","INT-EXP","USD","A","2015",368.247,
"MLT","TOUR_REC_EXP","INT-EXP","USD","A","2016",408.115,
"MLT","TOUR_REC_EXP","INT-EXP","USD","A","2017",467.688,
"MLT","TOUR_REC_EXP","INT-EXP","USD","A","2018",517.76,
"MLT","TOUR_REC_EXP","INT-EXP","USD","A","2019",529.6,
"MAR","TOUR_REC_EXP","INT_REC","USD","A","2008",8885.294,
"MAR","TOUR_REC_EXP","INT_REC","USD","A","2009",7980.057,
"MAR","TOUR_REC_EXP","INT_REC","USD","A","2010",8175.286,
"MAR","TOUR_REC_EXP","INT_REC","USD","A","2011",9100.423,
"MAR","TOUR_REC_EXP","INT_REC","USD","A","2012",8491.421,
"MAR","TOUR_REC_EXP","INT_REC","USD","A","2013",8201.688,
"MAR","TOUR_REC_EXP","INT_REC","USD","A","2014",9070.542,
"MAR","TOUR_REC_EXP","INT_REC","USD","A","2015",7764.412,
"MAR","TOUR_REC_EXP","INT_REC","USD","A","2016",7922.677,
"MAR","TOUR_REC_EXP","INT_REC","USD","A","2017",9086.243,
"MAR","TOUR_REC_EXP","INT_REC","USD","A","2018",9519.997,
"MAR","TOUR_REC_EXP","INT_REC","USD","A","2019",10012.69,
"MAR","TOUR_REC_EXP","INT-EXP","USD","A","2008",1910.433,
"MAR","TOUR_REC_EXP","INT-EXP","USD","A","2009",1713.241,
"MAR","TOUR_REC_EXP","INT-EXP","USD","A","2010",1879.045,
"MAR","TOUR_REC_EXP","INT-EXP","USD","A","2011",2259.695,
"MAR","TOUR_REC_EXP","INT-EXP","USD","A","2012",2095.145,
"MAR","TOUR_REC_EXP","INT-EXP","USD","A","2013",2002.181,
"MAR","TOUR_REC_EXP","INT-EXP","USD","A","2014",2273.428,
"MAR","TOUR_REC_EXP","INT-EXP","USD","A","2015",2154.947,
"MAR","TOUR_REC_EXP","INT-EXP","USD","A","2016",2311.444,
"MAR","TOUR_REC_EXP","INT-EXP","USD","A","2017",2829.219,
"MAR","TOUR_REC_EXP","INT-EXP","USD","A","2018",2987.633,
"MAR","TOUR_REC_EXP","INT-EXP","USD","A","2019",3171.994,
"PER","TOUR_REC_EXP","INT_REC","USD","A","2008",2395.848,
"PER","TOUR_REC_EXP","INT_REC","USD","A","2009",2439.517,
"PER","TOUR_REC_EXP","INT_REC","USD","A","2010",2475.1,
"PER","TOUR_REC_EXP","INT_REC","USD","A","2011",2814.011,
"PER","TOUR_REC_EXP","INT_REC","USD","A","2012",3073.378,
"PER","TOUR_REC_EXP","INT_REC","USD","A","2013",3915.833,
"PER","TOUR_REC_EXP","INT_REC","USD","A","2014",3907.709,
"PER","TOUR_REC_EXP","INT_REC","USD","A","2015",4139.968,
"PER","TOUR_REC_EXP","INT_REC","USD","A","2016",4287.711,
"PER","TOUR_REC_EXP","INT_REC","USD","A","2017",4572.759,
"PER","TOUR_REC_EXP","INT_REC","USD","A","2018",4894.705,
"PER","TOUR_REC_EXP","INT_REC","USD","A","2019",4237.581,
"PER","TOUR_REC_EXP","INT-EXP","USD","A","2008",1431.833,
"PER","TOUR_REC_EXP","INT-EXP","USD","A","2009",1403.259,
"PER","TOUR_REC_EXP","INT-EXP","USD","A","2010",1647.486,
"PER","TOUR_REC_EXP","INT-EXP","USD","A","2011",1768.166,
"PER","TOUR_REC_EXP","INT-EXP","USD","A","2012",1899.674,
"PER","TOUR_REC_EXP","INT-EXP","USD","A","2013",2104.779,
"PER","TOUR_REC_EXP","INT-EXP","USD","A","2014",2118.55,
"PER","TOUR_REC_EXP","INT-EXP","USD","A","2015",2539.103,
"PER","TOUR_REC_EXP","INT-EXP","USD","A","2016",2699.919,
"PER","TOUR_REC_EXP","INT-EXP","USD","A","2017",2916.184,
"PER","TOUR_REC_EXP","INT-EXP","USD","A","2018",3417.599,
"PER","TOUR_REC_EXP","INT-EXP","USD","A","2019",2888.791,
"PHL","TOUR_REC_EXP","INT_REC","USD","A","2008",3292.456,
"PHL","TOUR_REC_EXP","INT_REC","USD","A","2009",2916.122,
"PHL","TOUR_REC_EXP","INT_REC","USD","A","2010",3441.519,
"PHL","TOUR_REC_EXP","INT_REC","USD","A","2011",4052.71,
"PHL","TOUR_REC_EXP","INT_REC","USD","A","2012",4962.572,
"PHL","TOUR_REC_EXP","INT_REC","USD","A","2013",5598.213,
"PHL","TOUR_REC_EXP","INT_REC","USD","A","2014",6058.739,
"PHL","TOUR_REC_EXP","INT_REC","USD","A","2015",6414.762,
"PHL","TOUR_REC_EXP","INT_REC","USD","A","2016",6288.95,
"PHL","TOUR_REC_EXP","INT_REC","USD","A","2017",8348.674,
"PHL","TOUR_REC_EXP","INT_REC","USD","A","2018",9729.897,
"PHL","TOUR_REC_EXP","INT_REC","USD","A","2019",9823.652,
"PHL","TOUR_REC_EXP","INT-EXP","USD","A","2008",4284.73,
"PHL","TOUR_REC_EXP","INT-EXP","USD","A","2009",4055.9,
"PHL","TOUR_REC_EXP","INT-EXP","USD","A","2010",5963.949,
"PHL","TOUR_REC_EXP","INT-EXP","USD","A","2011",6055.44,
"PHL","TOUR_REC_EXP","INT-EXP","USD","A","2012",7139.97,
"PHL","TOUR_REC_EXP","INT-EXP","USD","A","2013",8399.452,
"PHL","TOUR_REC_EXP","INT-EXP","USD","A","2014",11129.442,
"PHL","TOUR_REC_EXP","INT-EXP","USD","A","2015",11867.74,
"PHL","TOUR_REC_EXP","INT-EXP","USD","A","2016",11681.165,
"PHL","TOUR_REC_EXP","INT-EXP","USD","A","2017",12441.919,
"PHL","TOUR_REC_EXP","INT-EXP","USD","A","2018",12473.723,

"ROU","TOUR_REC_EXP","INT_REC","USD","A","2008",1991.704,
"ROU","TOUR_REC_EXP","INT_REC","USD","A","2009",1230.581,
"ROU","TOUR_REC_EXP","INT_REC","USD","A","2010",1135.413,
"ROU","TOUR_REC_EXP","INT_REC","USD","A","2011",1419.374,
"ROU","TOUR_REC_EXP","INT_REC","USD","A","2012",1465.682,
"ROU","TOUR_REC_EXP","INT_REC","USD","A","2013",2265.325,
"ROU","TOUR_REC_EXP","INT_REC","USD","A","2014",2389.841,
"ROU","TOUR_REC_EXP","INT_REC","USD","A","2015",2228.766,
"ROU","TOUR_REC_EXP","INT_REC","USD","A","2016",2472.208,
"ROU","TOUR_REC_EXP","INT_REC","USD","A","2017",3481.991,
"ROU","TOUR_REC_EXP","INT_REC","USD","A","2018",3834.197,
"ROU","TOUR_REC_EXP","INT_REC","USD","A","2019",4173.832,
"ROU","TOUR_REC_EXP","INT-EXP","USD","A","2008",2173.797,
"ROU","TOUR_REC_EXP","INT-EXP","USD","A","2009",1468.793,
"ROU","TOUR_REC_EXP","INT-EXP","USD","A","2010",1637.152,
"ROU","TOUR_REC_EXP","INT-EXP","USD","A","2011",1964.565,
"ROU","TOUR_REC_EXP","INT-EXP","USD","A","2012",1831.913,
"ROU","TOUR_REC_EXP","INT-EXP","USD","A","2013",2113.286,
"ROU","TOUR_REC_EXP","INT-EXP","USD","A","2014",2749.404,
"ROU","TOUR_REC_EXP","INT-EXP","USD","A","2015",2523.302,
"ROU","TOUR_REC_EXP","INT-EXP","USD","A","2016",2913.264,
"ROU","TOUR_REC_EXP","INT-EXP","USD","A","2017",4926.648,
"ROU","TOUR_REC_EXP","INT-EXP","USD","A","2018",6120.847,
"ROU","TOUR_REC_EXP","INT-EXP","USD","A","2019",7094.492,
"RUS","TOUR_REC_EXP","INT_REC","USD","A","2009",12369.8,
"RUS","TOUR_REC_EXP","INT_REC","USD","A","2010",13239.9,
"RUS","TOUR_REC_EXP","INT_REC","USD","A","2011",16961,
"RUS","TOUR_REC_EXP","INT_REC","USD","A","2012",17875.6,
"RUS","TOUR_REC_EXP","INT_REC","USD","A","2013",20198.8,
"RUS","TOUR_REC_EXP","INT_REC","USD","A","2014",19451.1,
"RUS","TOUR_REC_EXP","INT_REC","USD","A","2015",13185.6,
"RUS","TOUR_REC_EXP","INT_REC","USD","A","2016",12821.8,
"RUS","TOUR_REC_EXP","INT_REC","USD","A","2017",14937.4,
"RUS","TOUR_REC_EXP","INT_REC","USD","A","2018",18735.4,
"RUS","TOUR_REC_EXP","INT_REC","USD","A","2019",17669.9,
"RUS","TOUR_REC_EXP","INT-EXP","USD","A","2009",23785.2,
"RUS","TOUR_REC_EXP","INT-EXP","USD","A","2010",30169,
"RUS","TOUR_REC_EXP","INT-EXP","USD","A","2011",37343.3,
"RUS","TOUR_REC_EXP","INT-EXP","USD","A","2012",48096.1,
"RUS","TOUR_REC_EXP","INT-EXP","USD","A","2013",59503.4,
"RUS","TOUR_REC_EXP","INT-EXP","USD","A","2014",55382,
"RUS","TOUR_REC_EXP","INT-EXP","USD","A","2015",38431.8,
"RUS","TOUR_REC_EXP","INT-EXP","USD","A","2016",27653.9,
"RUS","TOUR_REC_EXP","INT-EXP","USD","A","2017",35583.9,
"RUS","TOUR_REC_EXP","INT-EXP","USD","A","2018",38790.5,
"RUS","TOUR_REC_EXP","INT-EXP","USD","A","2019",40610.5,
"SVN","TOUR_REC_EXP","INT_REC","USD","A","2008",2931.775,
"SVN","TOUR_REC_EXP","INT_REC","USD","A","2009",2719.748,
"SVN","TOUR_REC_EXP","INT_REC","USD","A","2010",2817.7,
"SVN","TOUR_REC_EXP","INT_REC","USD","A","2011",3034.8,
"SVN","TOUR_REC_EXP","INT_REC","USD","A","2012",2804.8,
"SVN","TOUR_REC_EXP","INT_REC","USD","A","2013",2967.4,
"SVN","TOUR_REC_EXP","INT_REC","USD","A","2014",3049.1,
"SVN","TOUR_REC_EXP","INT_REC","USD","A","2015",2592.5,
"SVN","TOUR_REC_EXP","INT_REC","USD","A","2016",2711.4,
"SVN","TOUR_REC_EXP","INT_REC","USD","A","2017",3028.5,
"SVN","TOUR_REC_EXP","INT_REC","USD","A","2018",3387.8,
"SVN","TOUR_REC_EXP","INT-EXP","USD","A","2008",1602.012,
"SVN","TOUR_REC_EXP","INT-EXP","USD","A","2009",1445.091,
"SVN","TOUR_REC_EXP","INT-EXP","USD","A","2010",1653.6,
"SVN","TOUR_REC_EXP","INT-EXP","USD","A","2011",1715.7,
"SVN","TOUR_REC_EXP","INT-EXP","USD","A","2012",1517.4,
"SVN","TOUR_REC_EXP","INT-EXP","USD","A","2013",1560.3,
"SVN","TOUR_REC_EXP","INT-EXP","USD","A","2014",1642.6,
"SVN","TOUR_REC_EXP","INT-EXP","USD","A","2015",1369.6,
"SVN","TOUR_REC_EXP","INT-EXP","USD","A","2016",1479.2,
"SVN","TOUR_REC_EXP","INT-EXP","USD","A","2017",1625.5,
"SVN","TOUR_REC_EXP","INT-EXP","USD","A","2018",1761.2,
"ZAF","TOUR_REC_EXP","INT_REC","USD","A","2008",9178.89,
"ZAF","TOUR_REC_EXP","INT_REC","USD","A","2009",8683.92,
"ZAF","TOUR_REC_EXP","INT_REC","USD","A","2010",10308.6,
"ZAF","TOUR_REC_EXP","INT_REC","USD","A","2011",10706.33,
"ZAF","TOUR_REC_EXP","INT_REC","USD","A","2012",11201.69,
"ZAF","TOUR_REC_EXP","INT_REC","USD","A","2013",10467.55,
"ZAF","TOUR_REC_EXP","INT_REC","USD","A","2014",10484.152,
"ZAF","TOUR_REC_EXP","INT_REC","USD","A","2015",9139.363,
"ZAF","TOUR_REC_EXP","INT_REC","USD","A","2016",8807.601,
"ZAF","TOUR_REC_EXP","INT_REC","USD","A","2017",9706.288,
"ZAF","TOUR_REC_EXP","INT_REC","USD","A","2018",9789.507,
"ZAF","TOUR_REC_EXP","INT_REC","USD","A","2019",9063.867,
"ZAF","TOUR_REC_EXP","INT-EXP","USD","A","2008",6905.38,
"ZAF","TOUR_REC_EXP","INT-EXP","USD","A","2009",6420.83,
"ZAF","TOUR_REC_EXP","INT-EXP","USD","A","2010",8138.55,
"ZAF","TOUR_REC_EXP","INT-EXP","USD","A","2011",8397.41,
"ZAF","TOUR_REC_EXP","INT-EXP","USD","A","2012",7144.71,
"ZAF","TOUR_REC_EXP","INT-EXP","USD","A","2013",6490.32,
"ZAF","TOUR_REC_EXP","INT-EXP","USD","A","2014",6313.212,
"ZAF","TOUR_REC_EXP","INT-EXP","USD","A","2015",5734.731,
"ZAF","TOUR_REC_EXP","INT-EXP","USD","A","2016",5354.391,
"ZAF","TOUR_REC_EXP","INT-EXP","USD","A","2017",6067.963,
"ZAF","TOUR_REC_EXP","INT-EXP","USD","A","2018",6347.762,
"ZAF","TOUR_REC_EXP","INT-EXP","USD","A","2019",5866.453,
"CHN","TOUR_REC_EXP","INT_REC","USD","A","2008",40843,
"CHN","TOUR_REC_EXP","INT_REC","USD","A","2009",39675,
"CHN","TOUR_REC_EXP","INT_REC","USD","A","2010",45814,
"CHN","TOUR_REC_EXP","INT_REC","USD","A","2011",48464,
"CHN","TOUR_REC_EXP","INT_REC","USD","A","2012",50028,
"CHN","TOUR_REC_EXP","INT_REC","USD","A","2013",51664,
"CHN","TOUR_REC_EXP","INT_REC","USD","A","2014",44043.681,
"CHN","TOUR_REC_EXP","INT_REC","USD","A","2015",44968.719,
"CHN","TOUR_REC_EXP","INT_REC","USD","A","2016",44425.974,
"CHN","TOUR_REC_EXP","INT_REC","USD","A","2017",38799.277,
"CHN","TOUR_REC_EXP","INT_REC","USD","A","2018",39467.77,
"CHN","TOUR_REC_EXP","INT_REC","USD","A","2019",34458.292,
"CHN","TOUR_REC_EXP","INT-EXP","USD","A","2008",36157,
"CHN","TOUR_REC_EXP","INT-EXP","USD","A","2009",43701.7,
"CHN","TOUR_REC_EXP","INT-EXP","USD","A","2010",54880,
"CHN","TOUR_REC_EXP","INT-EXP","USD","A","2011",72585.1,
"CHN","TOUR_REC_EXP","INT-EXP","USD","A","2012",101977,
"CHN","TOUR_REC_EXP","INT-EXP","USD","A","2013",128576,
"CHN","TOUR_REC_EXP","INT-EXP","USD","A","2014",227343.733,
"CHN","TOUR_REC_EXP","INT-EXP","USD","A","2015",249830.544,
"CHN","TOUR_REC_EXP","INT-EXP","USD","A","2016",261129.14,
"CHN","TOUR_REC_EXP","INT-EXP","USD","A","2017",254788.887,
"CHN","TOUR_REC_EXP","INT-EXP","USD","A","2018",276899.97,
"CHN","TOUR_REC_EXP","INT-EXP","USD","A","2019",250739.779,
"KAZ","TOUR_REC_EXP","INT_REC","USD","A","2008",1254.222,
"KAZ","TOUR_REC_EXP","INT_REC","USD","A","2009",1184.781,
"KAZ","TOUR_REC_EXP","INT_REC","USD","A","2010",1235.482,
"KAZ","TOUR_REC_EXP","INT_REC","USD","A","2011",1523.682,
"KAZ","TOUR_REC_EXP","INT_REC","USD","A","2012",2154.429,
"KAZ","TOUR_REC_EXP","INT_REC","USD","A","2013",2365.365,
"KAZ","TOUR_REC_EXP","INT_REC","USD","A","2014",2239.708,
"KAZ","TOUR_REC_EXP","INT_REC","USD","A","2015",1833.334,
"KAZ","TOUR_REC_EXP","INT_REC","USD","A","2016",2038.191,
"KAZ","TOUR_REC_EXP","INT_REC","USD","A","2017",2355.968,
"KAZ","TOUR_REC_EXP","INT_REC","USD","A","2018",2650.685,
"KAZ","TOUR_REC_EXP","INT_REC","USD","A","2019",2922.729,
"KAZ","TOUR_REC_EXP","INT-EXP","USD","A","2008",1361.035,
"KAZ","TOUR_REC_EXP","INT-EXP","USD","A","2009",1319.462,
"KAZ","TOUR_REC_EXP","INT-EXP","USD","A","2010",1488.549,
"KAZ","TOUR_REC_EXP","INT-EXP","USD","A","2011",1830.507,
"KAZ","TOUR_REC_EXP","INT-EXP","USD","A","2012",3609.205,
"KAZ","TOUR_REC_EXP","INT-EXP","USD","A","2013",3772.142,
"KAZ","TOUR_REC_EXP","INT-EXP","USD","A","2014",3771.043,
"KAZ","TOUR_REC_EXP","INT-EXP","USD","A","2015",3046.157,
"KAZ","TOUR_REC_EXP","INT-EXP","USD","A","2016",2579.918,
"KAZ","TOUR_REC_EXP","INT-EXP","USD","A","2017",2694.666,
"KAZ","TOUR_REC_EXP","INT-EXP","USD","A","2018",2852.235,
"KAZ","TOUR_REC_EXP","INT-EXP","USD","A","2019",2955.29,
"SRB","TOUR_REC_EXP","INT_REC","USD","A","2008",1113.474,
"SRB","TOUR_REC_EXP","INT_REC","USD","A","2009",986.527,
"SRB","TOUR_REC_EXP","INT_REC","USD","A","2010",949.958,
"SRB","TOUR_REC_EXP","INT_REC","USD","A","2011",1149.423,
"SRB","TOUR_REC_EXP","INT_REC","USD","A","2012",1079.057,
"SRB","TOUR_REC_EXP","INT_REC","USD","A","2013",1221.487,
"SRB","TOUR_REC_EXP","INT_REC","USD","A","2014",1352.74,
"SRB","TOUR_REC_EXP","INT_REC","USD","A","2015",1321.638,
"SRB","TOUR_REC_EXP","INT_REC","USD","A","2016",1460.953,
"SRB","TOUR_REC_EXP","INT_REC","USD","A","2017",1706.146,
"SRB","TOUR_REC_EXP","INT_REC","USD","A","2018",1941.074,
"SRB","TOUR_REC_EXP","INT_REC","USD","A","2019",2000.579,
"SRB","TOUR_REC_EXP","INT-EXP","USD","A","2008",1448.21,
"SRB","TOUR_REC_EXP","INT-EXP","USD","A","2009",1105.117,
"SRB","TOUR_REC_EXP","INT-EXP","USD","A","2010",1102.353,
"SRB","TOUR_REC_EXP","INT-EXP","USD","A","2011",1263.55,
"SRB","TOUR_REC_EXP","INT-EXP","USD","A","2012",1187.555,
"SRB","TOUR_REC_EXP","INT-EXP","USD","A","2013",1289.398,
"SRB","TOUR_REC_EXP","INT-EXP","USD","A","2014",1359.859,
"SRB","TOUR_REC_EXP","INT-EXP","USD","A","2015",1253.644,
"SRB","TOUR_REC_EXP","INT-EXP","USD","A","2016",1351.098,
"SRB","TOUR_REC_EXP","INT-EXP","USD","A","2017",1549.183,
"SRB","TOUR_REC_EXP","INT-EXP","USD","A","2018",1837.317,
"SRB","TOUR_REC_EXP","INT-EXP","USD","A","2019",1999.313,

# Exercise: OECD tourism

The file `oecd_tourism.csv` contains information for each country in the OECD, for many different years, showing how much they received in tourism dollars (`INT_REC`) and how much they spent in tourism dollars (`INT_EXP`).

Join the contents of this file together with `oecd_locations` -- which maps from the three-letter country abbreviations to country names.

I'd like to see a single data frame in which we have: (Long) country name, subject (int-rec or int-exp), year, and value.

Finally, show a pivot table, per country name and subject value, the average amount they used.